<div class="ds-screen2">
    <a class="ds-hidden-anchor" href="#dsScreen3" id="dsScreen2">dsScreen2</a>
    <div class="ds-container ds-grid">
        <div class="ds-main ds-main-content">
            {% include '_includes/designSys/shared/levelTwo' with 
                { 
                    'color': '',
                    'name': 'Buttons', 
                    'desc': 'Buttons initiate user actions.'
            } %}
            <div class='dmt-5 dmb-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Best practices', 
                    'desc': 'Buttons should:'
                } %}
                {% include '_includes/designSys/atoms/practices' with 
                    {
                    'practices': 
                    [{'text': 'Be labeled with strong, actionable verbs'}, 
                    {'text': 'Use established button colors'}, 
                    {'text': 'Prioritize the most important action'},  
                    {'text': 'Be positioned in consistent locations'}] 
                } %}
            </div>
            <div class='dmt-5 dmb-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Types', 
                    'desc': 'Some user actions are more important than others. To clarify the priority of different user action and provide a consistent user experience, use the following button types:'
                } %}
                <h4 class="pe-title--small pe-bold">Single buttons</h4>
                {% include '_includes/designSys/atoms/singleButton' with 
                    {
                    'singlebutton': 
                    [{
                        'class': 'pe-btn__cta--btn_large',
                        'additional': '',
                        'name': 'Strong',
                        'text': 'Use minimally and only for single, high-priority actions.'
                    }, 
                    {
                        'class': 'pe-btn__primary--btn_large',
                        'additional': '',
                        'name': 'Primary',
                        'text': 'Use as the main choice for a primary button.'
                    }, 
                    {
                        'class': 'pe-btn--btn_large',
                        'additional': '',
                        'name': 'Default',
                        'text': 'Use as an main choice for a default button.'
                    },  
                    {
                        'class': 'pe-btn__tertiary--btn_large',
                        'additional': '',
                        'name': 'Tertiary',
                        'text': 'Use as an optional choice for a default button.'
                    },  
                    {
                        'class': 'pe-btn--btn_large',
                        'additional': ' disabled',
                        'name': 'Dsiabled',
                        'text': 'Use only when you need a disabled option.'
                    }] 
                } %}
            </div>
            {% include '_includes/designSys/atoms/redlines' with 
                {
                'id': 'singlebtnredlines',
                'source': '/public/theme_assets/buttonredlines.svg'
            } %}
        </div>
    </div>
</div>
<div class="ds-screen3">
    <a class="ds-hidden-anchor" href="#dsScreen4" id="dsScreen3">dsScreen3</a>
    <div class="ds-container ds-grid">
        <div class="ds-main ds-main-content">
            <h4 class="pe-title--small pe-bold dmb-4">Button groups</h4>
            <div class='border-bottom dmb-4'>
                <button class='pe-btn--btn_large smr-3'>Default</button><button class='pe-btn__primary--btn_large'>Primary</button>
                <p class='pe-label--large dmt-2 dmb-4'>Use as the main choice for a primary and secondary button.</p>
            </div>
            <div class='border-bottom dmb-4'>
                <button class='pe-btn--btn_large smr-3'>Default</button><button class='pe-btn__tertiary--btn_large'>Primary</button>
                <p class='pe-label--large dmt-2 dmb-4'>Use as an optional choice for a primary and secondary button for a quieter approach.</p>
            </div>
            <div>
                <button class='pe-btn--btn_large smr-3 smb-3'>Default</button>
                <button class='pe-btn__tertiary--btn_large smb-3'>Primary</button>
                <button class='pe-btn__tertiary--btn_large smb-3'>Primary</button><br>
                <button class='pe-btn--btn_large smr-3'>Default</button>
                <button class='pe-btn__tertiary--btn_large'>Primary</button>
                <button class='pe-btn__tertiary--btn_large'>Primary</button>
                <p class='pe-label--large dmt-2'>In a three-button group, use placement to distinguish between a secondary and tertiary button.</p>
            </div>
            {% include '_includes/designSys/atoms/redlines' with 
                {
                'id': 'groupbtnredlines',
                'source': '/public/theme_assets/groupredlines.svg'
            } %}
            <div class="bg-pattern-grid dpy-4 text-center dmt-8 dmb-7">
                <img class="img-fluid" src="/public/theme_assets/buttonexample00.png"/>
            </div>
        </div>
    </div>
</div>
<div class="ds-screen4">
    <a class="ds-hidden-anchor" href="#dsScreen5" id="dsScreen4">dsScreen4</a>
    <div class="ds-container ds-grid">
        <div class="ds-main ds-main-content">
            {% include '_includes/designSys/shared/levelFour' with 
                {'name': 'Sizes', 
                'desc': 'Three button sizes help make user actions clear on any device.'
            } %}
            {% include '_includes/designSys/atoms/singleButton' with 
                {
                'singlebutton': 
                [{
                    'class': 'pe-btn__primary--btn_xlarge',
                    'additional': '',
                    'name': 'Extra large',
                    'text': 'Use for singular, significant actions.'
                }, 
                {
                    'class': 'pe-btn__primary--btn_large',
                    'additional': '',
                    'name': 'Large',
                    'text': 'Use for most situations.'
                }, 
                {
                    'class': 'pe-btn__primary--btn_small',
                    'additional': '',
                    'name': 'Small',
                    'text': 'Use for space-constrained situations.'
                }] 
            } %}
            {% include '_includes/designSys/atoms/redlines' with 
                {
                'id': 'btnsizeredlines',
                'source': '/public/theme_assets/sizeredlines.svg'
            } %}
        </div>
    </div>
</div>
<div class="ds-screen5">
    <a class="ds-hidden-anchor" href="#dsScreen6" id="dsScreen5">dsScreen5</a>
    <div class="ds-container ds-grid">
        <div class="ds-main ds-main-content">
            {% include '_includes/designSys/shared/levelFour' with 
                {'name': 'Color', 
                'desc': 'Button colors help users understand which actions are most important.'
            } %}
            {% include '_includes/designSys/atoms/colorButton' with 
                {
                'buttoncolor': 
                [{
                    'class': 'pe-btn__cta--btn_xlarge',
                    'color': 'Sunshine Yellow',
                    'hex': '#FFB81C'
                }, 
                {
                    'class': 'pe-btn__primary--btn_xlarge',
                    'color': 'Pearson Blue',
                    'hex': '#047A9C'
                }, 
                {
                    'class': 'pe-btn--btn_xlarge',
                    'color': 'Medium Gray',
                    'hex': '#6A7070'
                }, 
                {
                    'class': 'pe-btn--btn_xlarge',
                    'color': 'No fill color',
                    'hex': '1px stroke, #6A7070'
                }, 
                {
                    'class': 'pe-btn__tertiary--btn_xlarge',
                    'color': 'Moonlight',
                    'hex': '#E9E9E9'
                }] 
            } %}
            {% include '_includes/designSys/atoms/tip' with 
                {
                'text': 'The button color needs to be contrast-compliant with the page background color. See <a href="https://uxframework.pearson.com/d/color">Color</a> for details.'
            } %}
            <div class='dmt-8'></div>
            {% include '_includes/designSys/shared/levelFour' with 
                {'name': 'Labels', 
                'desc': 'Button labels should convey the user action with short, clear, and consistent language.'
            } %}
            <div class="bg-pattern-grid dpy-4 text-center dmt-3 dmb-8">
                <img class="img-fluid" src="/public/theme_assets/buttonexample01.png"/>
            </div>
            {% include '_includes/designSys/shared/levelFour' with 
                {'name': 'Placement', 
                'desc': 'The placement of buttons indicates whether an action is affirmative or dismissive.'
            } %}
            <div class="bg-pattern-grid dpy-4 text-center dmt-3 dmb-6">
                <img class="img-fluid" src="/public/theme_assets/buttonexample02.png"/>
            </div>
            {% include '_includes/designSys/atoms/tip' with 
                {
                'text': 'Destructive action such as Delete can be affirmative actions.'
            } %}
        </div>
    </div>
</div>