@mixin component-main() {
  @include bps(319px, 1, 5);
  @include bps(591px, 1, 9);
  @include bps(887px, 3, 11);
}

body {
  background-color: $pe-color-white !important;
}

.ds {
  margin-top: 51px;

  .intro {
    margin-top: 104px;

    @extend .ds-container, .ds-grid;

    > * {
      @include component-main;
    }

    >  h1 {
      font-family: "Playfair Display";
      font-weight: 700;
      font-size: 38px;
      line-height: 38px;
      margin: 0;
      padding: 0;
    }

    > div {
      margin: 20px 0 56px 0;
    }

    > div, p {
      @extend .pe-copy, .pe-copy--large;
    }
  }

  .tabs-wrapper {
    @extend .ds-container, .ds-grid;

    > * {
      @include component-main;
    }

    .tabs {
      margin-bottom: 40px;
      border-bottom: 1px solid $pe-color-concrete;
      padding-bottom: 0;
    }

    .tab {
      padding: 0 4px 17px;
      margin: 0 16px -1px;
      float: left;
      @extend .pe-title, .pe-title--small;
      position: relative;

      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      &.active {
        @extend .pe-bold;
        border-bottom: 2px solid $pe-color-charcoal;
      }

      &:hover {
        cursor: pointer;
      }

      &::before {
        content: attr(data-value);
        @extend .pe-title, .pe-title--small, .pe-bold;
        opacity: 0;
      }
    }
  }

  .tab-content {
    display: none;

    &.active {
      display: block;
    }

    .chunk:nth-of-type(1) .ds-heading {
      margin-top: 0;
    }
  }

  @import "./dsComponent/heading";
  @import "./dsComponent/text";
  @import "./dsComponent/images";
  @import "./dsComponent/dosAndDonts";
  @import "./dsComponent/tip";
  @import "./dsComponent/redlines";
  @import "./dsComponent/dont";
  @import "./dsComponent/do";
  @import "./dsComponent/icons";
}
