@mixin component-main() {
  @include bps(319px, 1, 5);
  @include bps(591px, 1, 9);
  @include bps(887px, 3, 11);
}

body {
  background-color: $pe-color-white !important;
}

.ds {
  .intro {
    @extend .ds-container, .ds-grid;

    > * {
      @include component-main;
    }

    >  h1 {
      font-family: "Playfair Display";
      font-weight: 700;
      font-size: 38px;
      line-height: 38px;
      margin: 0;
      padding: 0;
    }

    > div {
      margin: 16px 0 48px 0;
      padding: 0 0 40px 0;
      border-bottom: 1px solid $pe-color-alto;
    }

    > div, p {
      @extend .pe-copy, .pe-copy--large;
    }
  }

  @import "./dsComponent/heading";
  @import "./dsComponent/text";
  @import "./dsComponent/images";
  @import "./dsComponent/dosAndDonts";
  @import "./dsComponent/tip";
  @import "./dsComponent/redlines";
  @import "./dsComponent/dont";
  @import "./dsComponent/do";
  @import "./dsComponent/icons";
}
