.icons {
  header {
    margin-top: 54px;
    background-color: $pe-color-white;

    border-bottom: 1px solid $pe-color-alto;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;

    @include pe-responsive-breakpoint(md) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    @media (min-width: 1460px) {
      left: 240px;
    }

    .left {
      display: flex;
      align-items: baseline;
      margin-left: 10px;
      margin-bottom: 20px;
      margin-top: 40px;

      @include pe-responsive-breakpoint(md) {
        margin-left: 28px;
      }

      @include pe-responsive-breakpoint(lg) {
        margin-top: 16px;
        margin-bottom: 16px;
      }

      h1 {
        margin: 0;
      }

      p {
        margin: 0 0 0 8px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      margin-left: 10px;
      margin-bottom: 20px;

      @include pe-responsive-breakpoint(md) {
        margin-right: 28px;
      }

      a {
        @extend .pe-label, .pe-label--large, .pe-label--bold;
        color: $pe-color-medium-gray;
        text-decoration: none;
        margin-right: 28px;
        flex-shrink: 0;
      }
    }

    h1 {
      @extend .pe-page-title, .pe-page-title--small;
      margin-top: 16px;
    }

    p {
      @extend .pe-label, .pe-label--small;
      color: $pe-color-medium-gray;
      margin-left: 8px;
    }
  }

  .wrapper {
    display: flex;
    margin-top: 228px;

    @include pe-responsive-breakpoint(md) {
      margin-top: 188px;
    }
  }

  .toc {
    display: none;
    margin-left: 36px;
    width: 180px;
    flex-shrink: 0;
    position: fixed;

    @include pe-responsive-breakpoint(lg) {
      display: block;
    }

    ul {
      margin-top: 40px;
      padding-bottom: 60px;
      padding-left: 0;

      & > ul {
        padding: 0;
        margin: 0;
      }

      &, & ul {
        list-style-type: none;
      }

      li + li,
      li > ul {
        margin-top: 16px;
      }

      & > li > ul {
        @extend .pe-label, .pe-label--large;
        padding: 0;
      }


      @extend .pe-label;

      a {
        text-decoration: none;
        color: $pe-color-medium-gray;

        &:hover {
          color: $pe-color-ink-blue;
          text-decoration: underline;
        }

        &.active {
          @extend .pe-label--bold;
          color: $pe-color-digital-pearson-blue;
        }
      }
    }
  }

  .icons {
    flex-grow: 1;

    @include pe-responsive-breakpoint(lg) {
      margin-left: 220px;
      margin-right: 36px;
    }
  }

  .icons-container {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid $pe-color-concrete;
    @include clearfix;

    @include pe-responsive-breakpoint(lg) {
      margin-left: -16px;
      margin-right: -16px;
    }

    h2 {
      @extend .pe-title;
      padding-top: 160px;
      margin-top: -160px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .icon {
      width: 80px;
      height: 100px;
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 3px;
      margin: 12px 8px;
      padding: 0 4px 8px 4px;

      @include pe-responsive-breakpoint(md) {
        margin: 12px 16px;
        padding: 0 8px 8px 8px;
      }

      &:hover,
      &.active {
        background-color: $pe-color-alto;
        cursor: pointer;

        p {
          color: $pe-color-charcoal;
        }
      }

      img {
        margin-top: 20px;
      }

      p {
        margin: 12px 0 0 0;
        @extend .pe-label, .pe-label--small;
        color: $pe-color-medium-gray;
        text-align: center;
      }
    }

    .icon-detail {
      float: left;
      width: calc(100% - 32px);
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: 16px;
      margin-right: 16px;

      box-sizing: border-box;

      background-color: $pe-color-white;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.40);
      border-radius: 3px;
      flex-wrap: wrap;

      @include pe-responsive-breakpoint(md) {
        &:before {
          content: '';
          width: 100%;
          height: 0;
          display: block;
          order: 3;
        }
      }

      @include pe-responsive-breakpoint(lg) {
        flex-wrap: nowrap;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;

        button {
          cursor: pointer;
          padding: 16px 16px 6px 6px;
        }
      }

      .image-zone {
        order: 1;
        display: flex;
        align-items: center;
        margin: 20px 20px 0 20px;

        @include pe-responsive-breakpoint(md) {
          margin: 40px 40px 0 40px;
        }

        .image {
          width: 40px;
          height: 40px;
          background-color: $pe-color-white-gray;
          flex-grow: 0;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: space-around;

          @include pe-responsive-breakpoint(md) {
            width: 80px;
            height: 80px;
          }

          @include pe-responsive-breakpoint(lg) {
            margin: 40px 48px 40px 40px;
            padding: 40px;
          }

          img {
            height: 24px;

            @include pe-responsive-breakpoint(md) {
              height: 48px;
            }
          }
        }

        h3 {
          margin: 0;
          margin-left: 12px;

          @include pe-responsive-breakpoint(md) {
            display: none;
          }
        }
      }

      .details {
        flex-grow: 1;
        order: 2;
        width: 100%;
        margin: 0 20px 0 20px;

        @include pe-responsive-breakpoint(md) {
          width: auto;
          margin: 40px 40px 0 0;
        }

        @include pe-responsive-breakpoint(lg) {
          margin: 40px 0;
        }

        h3 {
          @extend .pe-title, .pe-title--large, .pe-bold;
          margin: 0;
          display: none;

          @include pe-responsive-breakpoint(md) {
            display: block;
          }
        }

        .description {
          margin-top: 16px;
        }
      }

      .sizes {
        flex-grow: 1;
        flex-shrink: 0;
        order: 3;
        position: relative;

        border-top: 1px solid $pe-color-concrete;
        padding: 20px;

        @include pe-responsive-breakpoint(md) {
          margin-top: 28px;
          padding-left: 160px;
        }

        @include pe-responsive-breakpoint(xl) {
          width: 300px;
        }

        .list {
          display: table;
          width: 100%;

          a {
            display: table-row;

            & + a div {
              padding-top: 16px;
            }

            div {
              display: table-cell;

              &:nth-of-type(1) {
                width: 40px;
              }

              &:nth-of-type(3) {
                display: none;

                @include pe-responsive-breakpoint(md) {
                  display: block;

                  button {
                    background: none;
                    border: none;
                  }
                }
              }

              pre {
                margin: 0;
              }
            }
          }
        }

        img {
          vertical-align: middle;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .text {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 120px;

    padding-top: 180px;
    margin-top: -180px;

    max-width: 800px;

    @include pe-responsive-breakpoint(lg) {
      margin-left: 0;
      margin-right: 0;
    }

    h2 {
      @extend .pe-title;
    }

    h3 {
      @extend .pe-title, .pe-title--small;
      margin-bottom: 12px;
    }
    * + h3 { margin-top: 40px; }
    h1 + h3,
    h2 + h3 { margin-top: 6px; }

    h4 {
      @extend .pe-label, .pe-label--large;
    }
    h5 {
      @extend .pe-label, .pe-label--bold;
    }

    ul {
      @extend .pe-list, .pe-styled-lists--unordered;

      ul {
        @extend .pe-list, .pe-styled-lists--unordered;
      }

      ol {
        @extend .pe-list, .pe-styled-lists--ordered;
      }

      & + p {
        margin-top: 12px;
      }
    }

    ol {
      @extend .pe-list, .pe-styled-lists--ordered;

      ol {
        @extend .pe-list, .pe-styled-lists--ordered;
      }

      ul {
        @extend .pe-list, .pe-styled-lists--unordered;
      }

      & + p {
        margin-top: 12px;
      }
    }

    .pe-list {
      li p + p:last-child {
        margin-bottom: 18px;
      }

      ol p + p:last-child {
        margin-bottom: 18px;
      }
    }
  }
}
