.icons {
  header {
    margin-top: 54px;
    background-color: $pe-color-white;

    height: 68px;
    border-bottom: 1px solid $pe-color-alto;
    display: flex;
    align-items: baseline;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    h1 {
      @extend .pe-page-title, .pe-page-title--small;
      margin-left: 36px;
      margin-top: 16px;
    }

    p {
      @extend .pe-label, .pe-label--small;
      color: $pe-color-medium-gray;
      margin-left: 8px;
    }
  }

  .wrapper {
    display: flex;
    margin-top: 160px;
  }

  .toc {
    display: none;
    margin-left: 36px;
    width: 180px;
    flex-shrink: 0;
    position: fixed;

    @include pe-responsive-breakpoint(lg) {
      display: block;
    }

    ul {
      margin-top: 40px;
      padding-bottom: 60px;
      padding-left: 0;

      & > ul {
        padding: 0;
        margin: 0;
      }

      &, & ul {
        list-style-type: none;
      }

      li + li,
      li > ul {
        margin-top: 16px;
      }

      & > li > ul {
        @extend .pe-label, .pe-label--large;
        padding: 0;
      }


      @extend .pe-label;

      a {
        text-decoration: none;
        color: $pe-color-medium-gray;

        &:hover {
          color: $pe-color-ink-blue;
          text-decoration: underline;
        }

        &.active {
          @extend .pe-label--bold;
          color: $pe-color-digital-pearson-blue;
        }
      }
    }
  }

  .icons {
    flex-grow: 1;

    @include pe-responsive-breakpoint(lg) {
      margin-left: 180px;
    }
  }

  .icons-container {
    margin: 0 16px 60px 16px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid $pe-color-concrete;
    @include clearfix;

    @include pe-responsive-breakpoint(lg) {
      margin-left: 40px;
      margin-right: 36px;
    }

    h2 {
      @extend .pe-title;
      padding-top: 160px;
      margin-top: -160px;
    }

    .icon {
      width: 80px;
      height: 100px;
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 3px;
      margin: 12px 4px;
      padding: 0 4px 8px 4px;

      @include pe-responsive-breakpoint(md) {
        margin: 12px 16px;
        padding: 0 8px 8px 8px;
      }

      &:hover,
      &.active {
        background-color: $pe-color-alto;
        cursor: pointer;

        p {
          color: $pe-color-charcoal;
        }
      }

      img {
        margin-top: 20px;
      }

      p {
        margin: 12px 0 0 0;
        @extend .pe-label, .pe-label--small;
        color: $pe-color-medium-gray;
        text-align: center;
      }
    }

    .icon-detail {
      float: left;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;

      background-color: $pe-color-white;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.40);
      border-radius: 3px;
      flex-wrap: wrap;

      @include pe-responsive-breakpoint(lg) {
        flex-wrap: nowrap;
      }

      .image {
        margin: 20px;
        padding: 20px;
        background-color: $pe-color-white-gray;
        flex-grow: 0;
        flex-shrink: 0;
        order: 1;

        img {
          height: 48px;

          @include pe-responsive-breakpoint(md) {
            height: 96px;
          }
        }

        @include pe-responsive-breakpoint(lg) {
          margin: 40px;
          padding: 40px;
        }
      }

      .details {
        margin: 20px;
        flex-grow: 1;
        order: 3;
        width: 100%;

        @include pe-responsive-breakpoint(md) {
          width: auto;
          order: 2;
        }

        @include pe-responsive-breakpoint(lg) {
          margin: 40px 0;
        }

        h3 {
          @extend .pe-title, .pe-title--large, .pe-bold;
          margin: 0;
        }

        .description {
          margin-top: 16px;
        }
      }

      .sizes {
        flex-grow: 1;
        flex-shrink: 0;
        order: 2;
        width: 40%;

        @include pe-responsive-breakpoint(md) {
          margin-left: 40px;
          width: 280px;
          flex-grow: 0;
          order: 3;

          &:before {
            content: '';
            display: block;
            border-left: 1px solid $pe-color-concrete;
            position: absolute;
            top: 0;
            bottom: 0;
          }
        }

        @include pe-responsive-breakpoint(xl) {
          width: 300px;
        }

        .list {
          margin-top: 40px;
          float: left;

          @include pe-responsive-breakpoint(md) {
            margin-left: 40px;
          }
        }

        img {
          vertical-align: middle;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .close {
        float: right;
        margin-top: 16px;
        margin-right: 16px;

        button {
          cursor: pointer;
        }
      }
    }
  }
}
