.sidebar.nightly {
  background-color: none;
  background-image: linear-gradient(-180deg, #252525 0%, #0C1F32 6%);
  color: $pe-color-white;

  header {
    font-style: italic;
    font-weight: 300;
    color: $pe-color-white;

    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;

    span {
      flex-grow: 1;
    }
  }

  .sidebar-toc {
    li, a {
      color: $pe-color-white;
    }

    .back {
      margin: 12px 0 0 16px;

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .selected {
      background-color: #010d28;
    }
  }
}

.ultimate-header.nightly {
  background-image: linear-gradient(0deg, #15293C 30%, #000000 92%);

  .back-container {
    float: right;

    .words {
      display: inline-block;
    }

    .title {
      @extend .pe-label, .pe-label--large;
      font-style: italic;
      margin-left: 8px;
    }

    .link {
      @extend .pe-label, .pe-label--small;

      a {
        color: white;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
