.registration_container {
  max-width: 480px;
  margin: 200px auto 100px;

  button {
    display: block;
    margin: 52px 0 0 0;
  }

  p + button {
    margin-top: 33px;
  }

  input + label {
    margin-top: 36px;
  }

  p + label {
    margin-top: 17px;
  }
}
