<section class="ds-cover">
    <div class="ds-container ds-screen-cover">
        <div class="ds-grid position-fixed">
            <div class="ds-main mx-auto text-center d-flex flex-column justify-content-center flex-align-center">
                {% include '_includes/designSys/shared/levelOne' with 
                    {'name': 'Visual', 
                    'desc': 'The thoughtful reflection of the Pearson brand through meaningful visual elements.'
                } %}
            </div>
        </div>
    </div>
</section>