<div class="ds-screen2 bg-white">
    <a class="ds-hidden-anchor" href="#dsScreen3" id="dsScreen2">dsScreen2</a>
    <div class="ds-container ds-grid dpb-10">
        <div class="ds-main ds-main-content dmb-10">
            {% include '_includes/designSys/shared/levelTwo' with 
                {   'color': 'text-darkblue',
                    'name': 'Color', 
                    'desc': 'Reflecting the Pearson brand through <b>meaningful</b> color usage.'
            } %}
            <div class='dmt-5 dmb-6 d-flex'>
                <div class='dmr-5'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Embellish', 
                    'desc': 'Use color to add to the meaning or to provide emphasis or contrast to user interface elements.'
                } %}
                </div>
                <img src="/public/theme_assets/colorembellish.svg"/>
            </div>
            <div class='dmt-5 dmb-6 d-flex'>
                <img src="/public/theme_assets/colorvibration.svg"/>
                <div class='dml-5'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Avoid vibration', 
                    'desc': 'Using too many colors at once can distract and overload users.'
                } %}
                </div>
            </div>
            <div class='dmt-5 dmb-6 d-flex'>
                <div class='dmr-5'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Color, meaning, and accessibility', 
                    'desc': 'To make sure that blind users or users with low visual acuity can understand the meaning of your designs, think of color as an enhancement and not as the primary way to convey meaning. When you add color, use one of the Pearson color palettes.'
                } %}
                </div>
                <img src="/public/theme_assets/colormeaning.svg"/>
            </div>
        </div>
    </div>
</div>
<div class="ds-screen3">
    <div class="bg-white">
        <a class="ds-hidden-anchor" href="#dsScreen4" id="dsScreen3">dsScreen3</a>
        <div class="ds-container ds-grid">
            <div class="ds-main ds-main-content">
                <div class='dmt-5 dmb-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Global system palette', 
                    'desc': 'Pearson Brand colors are utilized throughout the experience to convey signals and important feedback within the overall experience. They provide sharp contrast to the neutral palette and create brand harmony when used within a course theme color.'
                } %}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white-gray">
        <div class="ds-container ds-grid ds-2rows dpt-6 dpb-2 dmb-10">
            <div class="ds-left-main dmb-10">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Pearson Blue', 
                    'color': 'bg-pearson-blue',
                    'hex': '047A9C'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'White', 
                    'color': 'bg-white',
                    'hex': 'FFFFFF'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Sunshine Yellow', 
                    'color': 'bg-sunshine-yellow',
                    'hex': 'FFB81C'
                } %}
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="ds-container ds-grid">
            <div class="ds-main">
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <img src='/public/theme_assets/colorexample00.png'>
                    <img src='/public/theme_assets/colorexample01.png'>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ds-screen4">
    <div class="bg-white">
        <a class="ds-hidden-anchor" href="#dsScreen5" id="dsScreen4">dsScreen4</a>
        <div class="ds-container ds-grid">
            <div class="ds-main ds-main-content">
                <div class='dmb-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Neutral palette', 
                    'desc': 'High contrast tones are typically used for text and hollow button instances when communication is most important. Medium tones are used to create spatial organization and separation within the interface. Super light tones are used for dimension.'
                } %}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white-gray">
        <div class='ds-container ds-grid ds-7rows'>
            <div class="ds-main">
                <h4  class="pe-title pe-bold dmb-3 dmt-6">High contrast tones</h4>
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Charcoal', 
                    'color': 'bg-charcoal',
                    'hex': '252525',
                    'note': 'Use for primary information and body copy'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Medium Gray', 
                    'color': 'bg-medium-gray',
                    'hex': '6A7070', 
                    'note': 'Use for secondary information'
                } %}
            </div>
            <div class="ds-main">
                <hr class='dmb-0 dmt-2'/>
                <h4  class="pe-title pe-bold dmb-3 dmt-6">Medium tones</h4>
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Steel', 
                    'color': 'bg-steel',
                    'hex': 'A9A9A9'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Concrete', 
                    'color': 'bg-concrete',
                    'hex': 'C7C7C7'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Alto', 
                    'color': 'bg-alto',
                    'hex': 'D9D9D9'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Moonlight', 
                    'color': 'bg-moonlight',
                    'hex': 'E9E9E9'
                } %}
            </div>
            <div class="ds-main">
                <hr class='dmb-0 dmt-2'/>
                <h4  class="pe-title pe-bold dmb-3 dmt-6">Super light tones</h4>
            </div>
            <div class="ds-left-main dmb-2">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Stainless', 
                    'color': 'bg-stainless',
                    'hex': 'EEEEEE',
                    'note': 'Use for default hover state'
                } %}
            </div>
            <div class="ds-right-main dmb-2">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'White Gray', 
                    'color': 'bg-white-gray',
                    'hex': 'F5F5F5',
                    'note': 'Use for application background (canvas area)'
                } %}
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="ds-container ds-grid dmb-10">
            <div class="ds-main dmb-10">
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <img src="/public/theme_assets/colorexample02.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ds-screen5">
    <div class="bg-white">
        <a class="ds-hidden-anchor" href="#dsScreen6" id="dsScreen5">dsScreen5</a>
        <div class="ds-container ds-grid">
            <div class="ds-main ds-main-content">
                <div class='dmb-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Conditional', 
                    'desc': 'High contrast and accessible, reserved for outlined usage only. Correct, Incorrect signals in icons and supporting feedback text inside of content, notifications/badging in super global.'
                } %}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white-gray">
        <div class='ds-container ds-grid ds-2rows dpt-6 dpb-2'>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Alert Red', 
                    'color': 'bg-alert-red',
                    'hex': 'DB0020',
                    'note': 'Use for incorrect signal or indication'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Confirm Green', 
                    'color': 'bg-confirm-green',
                    'hex': '038238',
                    'note': 'Use for correct signal or indication'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Notification Pink', 
                    'color': 'bg-notification-pink',
                    'hex': 'DA0474',
                    'note': 'Use for notifications'
                } %}
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="ds-container ds-grid dmb-10">
            <div class="ds-main dmb-10">
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <img src="/public/theme_assets/colorexample05.png">
                    <img src="/public/theme_assets/colorexample03.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ds-screen6">
    <div class="bg-white">
        <a class="ds-hidden-anchor" href="#dsScreen7" id="dsScreen6">dsScreen6</a>
        <div class="ds-container ds-grid">
            <div class="ds-main ds-main-content">
                <div class='dmb-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Theme palette', 
                    'desc': 'Derived from the Pearson accent palette they were created to be used in conjunction with the global system palette. Consisting of a brilliant set of colors that are used as a scalable solution (as an abstract) for course identification (opposed to a book cover which does not scale). The colors provide energy and visual interest to the (simple) student experience. Themes afford the student a personalization option.'
                } %}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white-gray">
        <div class="ds-container ds-grid ds-4rows dpt-6">
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Aqua', 
                    'color': 'bg-aqua',
                    'hex1': 'CAEFEE',
                    'hex2': '76D5D4',
                    'hex3': '19A5A3'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Violet', 
                    'color': 'bg-violet',
                    'hex1': 'F2E5F1',
                    'hex2': '895B9A',
                    'hex3': '633673'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Chartreuse', 
                    'color': 'bg-chartreuse',
                    'hex1': 'F6F8CC',
                    'hex2': 'D2DB0E',
                    'hex3': 'B0B718'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Indigo', 
                    'color': 'bg-indigo',
                    'hex1': 'D9E6F1',
                    'hex2': '356286',
                    'hex3': '1E496C'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Lime', 
                    'color': 'bg-lime',
                    'hex1': 'DEA30D',
                    'hex2': '66BE3E',
                    'hex3': '288500'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Sky', 
                    'color': 'bg-sky',
                    'hex1': 'D6ECF4',
                    'hex2': '80C5DD',
                    'hex3': '46A9CB'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Canary', 
                    'color': 'bg-canary',
                    'hex1': 'FAEBC3',
                    'hex2': 'F5C54C',
                    'hex3': 'DEA30D'
                } %}
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="ds-container ds-grid dmb-10">
            <div class="ds-main dmb-10">
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <img src="/public/theme_assets/colorexample04.png">
                </div>
            </div>
        </div>
    </div>
</div>