<div class="ds-screen7 dmb-10 ds-visual">
    <a class="ds-hidden-anchor" href="#dsScreen8" id="dsScreen7">dsScreen7</a>
    <div class='ds-type-bg h-100vh position-relative'>
        <div class='smt-9 position-absolute mx-auto'>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
        </div>
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-main-content'>
                {% include '_includes/designSys/shared/levelTwo' with 
                    {   'color': 'text-white',
                        'name': 'Typography', 
                        'textcolor': 'text-white',
                        'desc': 'Following the Pearson global brand guidelines, our experience utilizes the sans serif font Open Sans. It provides a wide range of weights and maintains clarity at small screen sizes.'
                } %}
                <div class='ds-fontweight-demo dmt-5 d-flex justify-content-center'>
                    <div class='dpy-2 dpx-5 dmr-3'>
                        <p class='text-white dmb-0 text-center'>Aa</p>
                        <p class='pe-label text-white'>Open Sans Regular</p>
                    </div>
                    <div class='dpy-2 dpx-5 dml-3'>
                        <p class='pe-bold text-white dmb-0 text-center'>Aa</p>
                        <p class='pe-bold pe-label text-white'>Open Sans Regular</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='ds-screen8 dmb-10 ds-visual'>
    <a class="ds-hidden-anchor" href="#dsScreen9" id="dsScreen8">dsScreen8</a>
    <div class='bg-white'>
        <div class='ds-container ds-grid'>
            <div class='ds-main dmy-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {
                        'name': 'Font styles', 
                        'desc': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et mauris sed turpis accumsan hendrerit. Quisque vestibulum eget sem non dapibus. Donec posuere, ante ut cursus elementum, nunc dolor suscipit sapien, eget condimentum felis massa non massa.'
                } %}

            </div>
        </div>
    </div>
</div>