<div class="ds-screen7 ds-visual">
    <a class="ds-hidden-anchor" href="#dsScreen" id="dsScreen7">dsScreen7</a>
    <div class='ds-type-bg position-relative'>
        <div class='smt-9 w-100 position-absolute'>
            <p class='xl-title pe-bold text-white dmy-0'>HhIiJjKkLlMmNnOpen SansTtUuVvWwXxYyZz012</p>
            <p class='xl-title pe-bold text-white dmy-0'>HhIiJjKkLlMmNnOpen SansTtUuVvWwXxYyZz012</p>
            <p class='xl-title pe-bold text-white dmy-0'>HhIiJjKkLlMmNnOpen SansTtUuVvWwXxYyZz012</p>
            <p class='xl-title pe-bold text-white dmy-0'>HhIiJjKkLlMmNnOpen SansTtUuVvWwXxYyZz012</p>
            <p class='xl-title pe-bold text-white dmy-0'>HhIiJjKkLlMmNnOpen SansTtUuVvWwXxYyZz012</p>
            <p class='xl-title pe-bold text-white dmy-0'>HhIiJjKkLlMmNnOpen SansTtUuVvWwXxYyZz012</p>
            <p class='xl-title pe-bold text-white dmy-0'>HhIiJjKkLlMmNnOpen SansTtUuVvWwXxYyZz012</p>
        </div>
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-main-content'>
                {% include '_includes/designSys/shared/levelTwo' with 
                    {   'color': 'text-white',
                        'name': 'Typography', 
                        'textcolor': 'text-white',
                        'desc': 'Typography is used to create clear hierarchies, useful organizations, and purposeful alignments that guide users through the product and experience. It is the core structure of any well designed interface. ~ Carbon design'
                } %}
                <div class='ds-fontweight-demo dmt-5 d-flex justify-content-center'>
                    <div class='dpy-2 dpx-5 dmr-3'>
                        <p class='text-white dmb-0 text-center'>Aa</p>
                        <p class='pe-label text-white'>Open Sans Regular</p>
                    </div>
                    <div class='dpy-2 dpx-5 dml-3'>
                        <p class='pe-bold text-white dmb-0 text-center'>Aa</p>
                        <p class='pe-bold pe-label text-white'>Open Sans Regular</p>
                    </div>
                </div>
                <h3 class='xl-title text-white dmb-2'>Open Sans</h3>
                <p class='pe-title text-white dmb-7'>Following the Pearson global brand guidelines, our experience utilizes the sans serif font Open Sans. It provides a wide range of weights and maintains clarity at small screen sizes.</p>
                <h3 class='pe-title--large text-white dmb-2'>Open Sans</h3>
                <p class='pe-title text-white dmb-6'>Font weight is an important typographic style that can add emphasis and is used to differentiate content hierarchy. Font weight and size pairings must be carefully balanced. A bold weight will always have more emphasis than a lighter weight font of the same size. However, a lighter weight font can rank hierarchically higher than a bold font if the lighter weight type size is significantly larger than the bold.</p>
                <hr class='bg-white dmy-0'/>
                <h3 class='l-title text-white dmt-5 dmb-3 pe-normal'>Regular</h3>
                <p class='pe-title--large text-white dmb-6'>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
                <hr class='bg-white dmy-0'/>
                <h3 class='l-title pe-bold text-white dmt-5 dmb-3'>Semibold</h3>
                <p class='pe-title--large pe-bold text-white dmb-10'>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
            </div>
        </div>
    </div>
    <div class='bg-white'>
        <div class='ds-container ds-grid'>
            <div class='ds-main dmy-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {
                        'name': 'Creating hierarchy', 
                        'desc': 'Hierarchy can be acheived in one of two ways — through color or weight and size. The only two colors used to convey information are Charcoal and Medium Gray. Bold isn’t the only way to draw emphasis, a large regular weight can hold more weight than a small bold weight.'
                } %}
            </div>
        </div>
    </div>
    <div class='bg-white-gray'>
        <div class='ds-container ds-grid'>
            <div class='ds-left-main ds-shadow dmy-6 dp-6 bg-white'>
                <h4 class='pe-title--large dmb-2'>Heading</h4>
                <p class='pe-label--secondary pe-label--large dmb-0'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et mauris sed turpis accumsan hendrerit. Quisque vestibulum eget sem non dapibus.</p>
            </div>
            <div class='ds-right-main ds-shadow dmy-6 dp-6 bg-white'>
                <h4 class='pe-title--large pe-bold dmb-2'>Heading</h4>
                <p class='pe-label--secondary pe-label--large dmb-0'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et mauris sed turpis accumsan hendrerit. Quisque vestibulum eget sem non dapibus.</p>
            </div>
        </div>
    </div>
</div>