<div class="ds-screen7 ds-visual position-relative">
    <div class='ds-type-bg dpb-10 position-relative'>
        <div class='smt-9 position-absolute mx-auto'>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>HhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
        </div>
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-transition-content'>
                <h2 class="font-pd ds-section-title smb-5 text-white">Typography</h2>
                {% include '_includes/designSys/shared/levelThree' with 
                    {
                        'name': 'Typeface', 
                        'textcolor': 'text-white',
                        'desc': 'We use the Open Sans font for product designs. One of two Pearson’s global brand fonts, Open Sans provides a wide range of weights and maintains clarity at small screen sizes.<br><br><b>Note:</b> We do not use the other Pearson global brand font, Playfair, because it loses its integrity at small screen sizes'
                } %}
                <div class='ds-fontweight-demo dmt-5 d-flex justify-content-center'>
                    <div class='dpy-2 dpx-5 dmr-3'>
                        <p class='text-white dmb-0 text-center'>Aa</p>
                        <p class='pe-label text-white'>Open Sans Regular</p>
                    </div>
                    <div class='dpy-2 dpx-5 dml-3'>
                        <p class='pe-bold text-white dmb-0 text-center'>Aa</p>
                        <p class='pe-bold pe-label text-white'>Open Sans Regular</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include '_includes/designSys/atoms/hiddenAchor' with 
{ 'class': 'later-anchors', 'id': 'dsScreen8' } 
%}
{% include '_includes/designSys/atoms/hiddenAchor' with 
{ 'class': 'ds-menu-anchor', 'id': 'dsMenuScreen8' } 
%}
</div>
<div class='ds-screen8 ds-visual position-relative'>
    <div class='bg-white'>
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-transition-content'>
                <div class='dmb-6'>
                    {% include '_includes/designSys/shared/levelThree' with 
                        {
                            'name': 'Font styles', 
                            'desc': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et mauris sed turpis accumsan hendrerit. Quisque vestibulum eget sem non dapibus. Donec posuere, ante ut cursus elementum, nunc dolor suscipit sapien, eget condimentum felis massa non massa.'
                    } %}
                </div>
                {% include '_includes/designSys/atoms/fontStyle' with 
                    {
                    'title': 'TITLE STYLE',
                    'tablebody': [{
                            'class': 'pe-title--large dpb-6',
                            'td': '24px / 28px'
                        }]
                    } 
                %}
                {% include '_includes/designSys/atoms/fontStyle' with 
                    {
                    'title': 'HEADING STYLES',
                    'tablebody': [
                        {
                            'class': 'pe-title',
                            'td': '20px / 26px'
                        },
                        {
                            'class': 'pe-title--small-new dpb-6',
                            'td': '18px / 24px'
                        }]
                    } 
                %}
                {% include '_includes/designSys/atoms/fontStyle' with 
                    {
                    'title': 'BODY COPY STYLES',
                    'tablebody': [
                        {
                            'class': 'pe-label--large',
                            'td': 'Single-Line | 16px / 20px'
                        },
                        {
                            'class': 'pe-label--large',
                            'td': 'Multi-Line | 16px / 24px'
                        },
                        {
                            'class': 'pe-label--single',
                            'td': 'Single-Line | 14px / 18px'
                        },
                        {
                            'class': 'pe-label--multi dpb-6',
                            'td': 'Multi-Line | 14px / 20px'
                    }]
                    } 
                %}
                {% include '_includes/designSys/atoms/fontStyle' with 
                    {
                    'title': 'META DATA STYLE',
                    'tablebody': [
                        {
                            'class': 'pe-label--small dpb-6',
                            'td': '12px / 16px'
                        }]
                    } 
                %}
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <div id="typography00"></div>
                    <div class='dmt-2' id="typography01"></div>
                </div>
            </div>
        </div>
    </div>
    {% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'class': 'later-anchors', 'id': 'dsScreen9' } 
    %}
    {% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'class': 'ds-menu-anchor', 'id': 'dsMenuScreen9' } 
    %}
</div>