<div class="ds-screen12 bg-white position-relative">
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-main-content'>
            <h2 class="font-pd ds-section-title smb-5">Illustrations</h2>
            <h3 class="pe-title pe-bold dmt-9">Style</h3>
            <div class='d-flex justify-content-center dmt-5'>
                <div class="dpx-3 border-right">
                    <img src="/public/theme_assets/styleunique.svg">
                    <h4 class='pe-title--small pe-bold text-center'>Unique</h4>
                    <p class="pe-label--large text-center">Our illustrations give our product a face that is recognizable.</p>
                </div>
                <div class="dpx-3 border-right">
                    <img src="/public/theme_assets/styleengaging.svg">
                    <h4 class='pe-title--small pe-bold text-center'>Engaging</h4>
                    <p class="pe-label--large text-center">Our illustration style strives to be fun, friendly, and inviting.</p>
                </div>
                <div class="dpx-3">
                    <img src="/public/theme_assets/styleconsistent.svg">
                    <h4 class='pe-title--small pe-bold text-center'>Consistent</h4>
                    <p class="pe-label--large text-center">Our family of products are tied together by consistent styles.</p>
                </div>
            </div>
        </div>
    </div>
{% include '_includes/designSys/atoms/hiddenAchor' with 
{ 'class': 'later-anchors', 'id': 'dsScreen13' } 
%}
{% include '_includes/designSys/atoms/hiddenAchor' with 
{ 'class': 'menu-anchors', 'id': 'dsMenuScreen13' } 
%}
</div>
<div class="ds-screen13 bg-white position-relative">
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-main-content'>
            <h3 class="pe-title pe-bold dmb-2 dmt-9">Types</h3>
            {% include '_includes/designSys/shared/levelFour' with 
                    {
                        'topSpacing': true,
                        'name': 'Spot illustrations',
                        'desc': 'Spot illustrations are used to promote specific features or guide the user in times of confusion.'
                } %}
            <div class='d-flex justify-content-between dmt-5'>
                <img src="/public/theme_assets/spotillustrations00.svg">
                <img src="/public/theme_assets/spotillustrations01.svg">
                <img src="/public/theme_assets/spotillustrations02.svg">
                <img src="/public/theme_assets/spotillustrations03.svg">  
            </div>
            {% include '_includes/designSys/shared/levelFour' with 
                    {
                        'topSpacing': true,
                        'name': 'Scene illustrations',
                        'desc': 'We expand on illustrations as needed, typically for empty pages or when the user is required to take an action to get started. Only in this case do we break the color rules to provide more detail and focus while keeping a consistent style.'
                } %}
            <div class='d-flex justify-content-between dmt-5 dmb-10'>
                <img src="/public/theme_assets/sceneillustrations00.svg">
                <img src="/public/theme_assets/sceneillustrations01.svg"> 
            </div>
        </div>
    </div>
    {% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'class': 'later-anchors', 'id': 'dsScreen14' } 
    %}
    {% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'class': 'menu-anchors', 'id': 'dsMenuScreen14' } 
    %}
</div>
<div class="ds-screen14">
    <div class='bg-white-gray'>
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-main-content'>
                {% include '_includes/designSys/shared/levelThree' with 
                        {
                            'name': 'Color',
                            'desc': 'Spot illustrations should be limited to two primary colors unless otherwise noted. A primary color may be used with the secondary color. Scene illustrations are the exception to these color rules to provide more detail and focus.'
                    } %}
                <h4 class="pe-title--small pe-bold smb-3 dpt-6">Primary colors</h4>
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Rose', 
                    'color': 'bg-rose',
                    'hex': 'EDC0F2'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Pear', 
                    'color': 'bg-pear',
                    'hex': 'ABDC3B'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Aqua', 
                    'color': 'bg-aqua',
                    'hex': '76D5D4'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Seagrass', 
                    'color': 'bg-seagrass',
                    'hex': 'D3EAE4'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Canary', 
                    'color': 'bg-canary',
                    'hex': 'F5C54C'
                } %}
            </div>
            <div class='ds-main'>
                <h4 class="pe-title--small pe-bold smb-3 dpt-6">Secondary color</h4>
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Moonlight', 
                    'color': 'bg-moonlight',
                    'hex': 'E9E9E9'
                } %}
            </div>
            <div class='ds-main'>
                <h4 class="pe-title--small pe-bold dmb-2 dpt-6">Stroke</h4>
                <div class='d-flex ds-illustration-stroke dmb-10'>
                    <hr>
                    <p class='pe-label--large dml-2'>1.5px weight, Medium Gray</p>
                </div>
            </div>
        </div>
    </div>
    <div class='bg-white'>
        <div class='ds-container ds-grid'>
            <div class='ds-main'>
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <img src="/public/theme_assets/colordodont.svg">
                </div>
            </div>
        </div>
    </div>
</div>
