{% block content %}
{% include '_includes/designSys/shared/designsysHeader' %}
<main class='ds-page'>
    <section class='scroll-panel'>
    {% include '_includes/designSys/components/00-cover' %}
    </section>
    <section class='scroll-panel bg-white'>
    {% include '_includes/designSys/components/01-buttons' %}
    </section>
</main>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<!--
<script src="/node_modules/scrollmagic/scrollmagic/minified/ScrollMagic.min.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/minified/plugins/animation.velocity.min.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/minified/plugins/jquery.ScrollMagic.min.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js" charset="utf-8"></script>

<script src="/public/js/require.js" charset="utf-8"></script>

<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/plugins/animation.velocity.js" charset="utf-8"></script>
-->

<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/plugins/jquery.ScrollMagic.js" charset="utf-8"></script>

<script src="/public/js/jQueryEasingPlugin.js" charset="utf-8"></script>
<script src="/public/js/additionalAni.js" charset="utf-8"></script>
<script src="/public/js/pageScroll_dup.js" charset="utf-8"></script>
<script src="/public/js/accordion.js" charset="utf-8"></script>
<script src="/public/js/menu_dup.js" charset="utf-8"></script>
{% endblock %}