{% block content %}
{% include '_includes/designSys/shared/designsysHeader' %}
<main>
<div class="parallax-main">
    {% include '_includes/designSys/layout/cover' %}
    {% include '_includes/designSys/layout/overview' %}
    {% include '_includes/designSys/layout/whitespace' %}
    {% include '_includes/designSys/layout/grid' %}
    {% include '_includes/designSys/layout/spacing' %}
    {% include '_includes/designSys/layout/navigation' %}
    {% include '_includes/designSys/layout/pageFrames' %}
    {% include '_includes/designSys/layout/primaryPF' %}
    {% include '_includes/designSys/layout/detailPF' %}
    {% include '_includes/designSys/layout/focusPF' %}
</div>
</main>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/jquery-mousewheel/jquery.mousewheel.js" charset="utf-8"></script>
<script src="/public/js/layout.js" charset="utf-8"></script>

{% endblock %}