{% block content %}
{% include '_includes/designSys/shared/designsysHeader' %}
<main>
<div class="parallax-main">
    {% include '_includes/designSys/layout/cover' %}
    {% include '_includes/designSys/layout/overview' %}
    {% include '_includes/designSys/layout/whitespace' %}
    {% include '_includes/designSys/layout/grid' %}
    {% include '_includes/designSys/layout/breakpoints' %}
    {% include '_includes/designSys/layout/spacing' %}
</div>
</main>
<script src="/node_modules/jquery-mousewheel/jquery.mousewheel.js" charset="utf-8"></script>
<script src="/public/js/layout.js" charset="utf-8"></script>


{% endblock %}