{% block content %}
{% include '_includes/designSys/shared/designsysHeader' %}
<main class='ds-visual-page ds-page'>
    <section class='scroll-panel'>
    {% include '_includes/designSys/visual/00-cover' %}
    </section>
    <section class='scroll-panel'>
    {% include '_includes/designSys/visual/01-color' %}
    {% include '_includes/designSys/visual/02-type' %}
    {% include '_includes/designSys/visual/03-icons' %}
    {% include '_includes/designSys/visual/04-illustrations' %}
    </section>
</main>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>

<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/plugins/jquery.ScrollMagic.js" charset="utf-8"></script>

<script src="/public/js/jQueryEasingPlugin.js" charset="utf-8"></script>
<script src="/public/js/bodymovin.js" charset="utf-8"></script>
<script src="/public/js/lottie.js" charset="utf-8"></script>
<script src="/public/js/visualAdditionalAni.js" charset="utf-8"></script>
<script src="/public/js/additionalAni.js" charset="utf-8"></script>
<script src="/public/js/pageScroll.js" charset="utf-8"></script>
<script src="/public/js/menu.js" charset="utf-8"></script>

{% endblock %}