{% extends "_default" %}

{% set pageTitle = entry.title %}

{% block content %}
<div class="top-level-content article">
  <div class="parent">
    <section class="toc">
      {% if entry.includeToc %}
        <ul id="markdown-toc">
          {{ toc(add_anchors(entry.body), 2, 1) }}
        </ul>
      {% endif %}
    </section>

    <article>
      <h1>{{ entry.title }}</h1>

      {% if entry.includePostDate %}
        <p>{{ entry.postDate | date("M j, Y") }}</p>
      {% endif %}

      {{ entry.intro }}

      {% if entry.includeToc %}
        <ul id="markdown-toc">
          {{ toc(add_anchors(entry.body), 2, 1) }}
        </ul>
      {% endif %}

      {{ add_anchors(entry.body) }}
    </article>
  </div>
</div>

<script type="text/javascript">
  var headings = document
                    .querySelector('.article article')
                    .querySelectorAll('h2');

  window.addEventListener('scroll', function(e) {
    var scrolledAmount = window.scrollY
      , centerOffset = document.documentElement.clientHeight / 2
      , topToCenter = scrolledAmount + centerOffset;

    var bestDelta = Number.MAX_SAFE_INTEGER;
    var bestID = '';
    for (var i = 0; i < headings.length; i++) {
      var heading = headings.item(i)
        , distFromTop = heading.getBoundingClientRect().top + scrolledAmount
        , delta = topToCenter - distFromTop;

      if (delta < bestDelta && delta > 0) {
        bestDelta = delta;
        bestID = heading.id;
      }
    }

    document.querySelectorAll('section.toc .active').forEach(function(x) {
      x.classList.remove('active');
    });

    document
      .querySelector('section.toc a[href="#' + bestID + '"]')
      .classList
      .add('active');

  });

</script>
{% endblock %}
