{% set colors = {} %}

{% for color in entry.colors.all() %}
  {% set colors = colors | merge({(color.colorName): color}) %}
{% endfor %}

{% for palette in entry.palettes.all() %}
  <div class="block">
    <div class="section">
      <h2 class="pe-title pe-bold" id="{{ palette.paletteName | kebab }}">{{ palette.paletteName }}</h2>
    </div>
  </div>

  <div class="block">
    <div class="two_column">
      <div class="text">
        {{ palette.description }}

        {% set features = [] %}
        {% for color in palette.colors %}
          {% set features = features | merge([color.colorName]) %}
        {% endfor %}

        {% include '_includes/featureLinks' with {'features': features, 'entry': entry} only %}
      </div>
      <div class="content">
        <div class="colors">
          {% for color in palette.colors %}

            {% set color_data = colors[color.colorName] %}

            <div class="color" data-state="open" data-border="{% if color_data.useBorder %}true{% else %}false{% endif %}">
              <div class="bar {% if color_data.useBorder %}border{% endif %}" style="background-color: {{color_data.hex}};">
                <div class="name {% if color_data.useBorder %}border{% endif %}" style="transform: translateY(70px);">
                  <p>{{color.colorName}}</p>
                  <p>{{color_data.hex}}</p>
                </div>
              </div>
              <div class="details">
                <h5>Primary Uses</h5>
                <div class="uses">{% if color_data.primaryUses is defined %}{{color_data.primaryUses}}{% endif %}</div>

                <h5>A11y Complements</h5>
                <div class="complements">
                  {% set complement_found = false %}
                  {% for complement in colors if complement.hex != color_data.hex %}
                    {% if fourFiveContrasty(color_data.hex.getHex(), complement.hex.getHex()) %}
                      {% set complement_found = true %}
                      <div class="complement">
                        <div class="complement_swatch {% if complement.useBorder %}border{% endif %}" style="background-color: {{complement.hex}}"></div>
                        <p>{{ complement.colorName }}</p>
                      </div>
                    {% endif %}
                  {% endfor %}
                  {% if not complement_found %}
                    <div class="complement"><p>No complements meet accessibility requirements</p></div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endfor %}
