{% block content %}
{% include '_includes/designSys/shared/designsysHeader' %}
<main class='ds-writing-page ds-page'>
    {% include '_includes/designSys/writing/00-cover' %}
    {% include '_includes/designSys/writing/01-practices' %}
    {% include '_includes/designSys/writing/02-voice' %}
    {% include '_includes/designSys/writing/03-grammar' %}
</main>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>

<script src="/node_modules/gsap/src/minified/TweenMax.min.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js" charset="utf-8"></script>
<script src="/node_modules/scrollmagic/scrollmagic/uncompressed/plugins/jquery.ScrollMagic.js" charset="utf-8"></script>

<script src="/public/js/jQueryEasingPlugin.js" charset="utf-8"></script>
<script src="/public/js/bodymovin.js" charset="utf-8"></script>
<script src="/public/js/lottie.js" charset="utf-8"></script>
<script src="/public/js/pageScroll.js" charset="utf-8"></script>
{% endblock %}