# Craft recommended folders to ignore
craft/storage/backups/
craft/storage/runtime/
craft/storage/userphotos/

# Config files with passwords
/craft/config/db.php
/scripts/.env.sh

# OS files
.DS_Store

# JS related ignores
/node_modules/

# User generated content
/assets/
/ds/images/*
!/ds/images/.gitkeep
