# Craft recommended folders to ignore
/.env
/.idea
/vendor

# Config files with passwords
/scripts/.env.sh

# OS files
.DS_Store

# JS related ignores
/node_modules/

# User generated content
/assets/
/ds/images/*
!/ds/images/.gitkeep
