<div class="ds-screen1 on-screen">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'id': 'dsScreen1' }
    %}
    <div class="ds-container ds-screen-cover">
        <div class="ds-grid position-fixed">
            <div class="ds-main mx-auto text-center d-flex flex-column justify-content-center flex-align-center">
                <div id='visualcover'>
                {% include '_includes/designSys/shared/levelOne' with 
                    {'name': 'Writing', 
                    'desc': 'UX writing is one of the core ingredients of good UX design. When UX writing is combined with interaction design, user research, and visual design, the result is a user experience that’s greater than the sum of its parts.'
                } %}
                </div>
            </div>
        </div>
    </div>
</div>

