<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid">
        <div class="ds-main ds-transition-content" id='dsTransitScreen0'>
            <h2 class="font-pd ds-section-title dmb-7 position-relative">
                <a class="ds-hidden-anchor ds-menu-anchor position-absolute" href="###" aria-hidden='true' tabindex="-1">menu anchor</a>
                <a class="ds-hidden-anchor position-absolute" href="###" name="dsMenuScreen0" aria-hidden='true' tabindex="-1">dsMenuScreen0</a>
                Best practices
            </h2>
            <div class='d-flex flex-wrap ds-writing-practices'>
                <p class='pe-title--small position-relative dpy-1 dpl-7'>Put users first</p>
                <p class='pe-title--small position-relative dpy-1 dpl-7'>Consider your context</p>
                <p class='pe-title--small position-relative dpy-1 dpl-7'>Make actions easy</p>
                <p class='pe-title--small position-relative dpy-1 dpl-7'>Focus on headings</p>
                <p class='pe-title--small position-relative dpy-1 dpl-7'>Be clear, then be brief</p>
            </div>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'dsMenuScreen1',
                'title': 'Put users first', 
                'desc': 'Just as good UX design is user-centric, so is good UX writing. Write in a way that suits users and the situation. Ask yourself:'
            } %}
            <ul class='pe-styled-lists--unordered'>
                <li class='pe-label--large'>Who is going to read this (user personas)?</li>
                <li class='pe-label--large'>What do they need to know and do?</li>
                <li class='pe-label--large'>How might they be feeling at this stage in the user journey?</li>
            </ul>
            <p class='pe-label--large--multi'>Help your user(s) find the information they need quickly and easily, using conversational language they can relate to.</p>
            <div class='dmt-5 dmb-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'dsMenuScreen2',
                    'title': 'Make actions easy', 
                    'desc': "UX copy helps users perform actions -- whether it's an instructor creating an assignment or a student looking for assignment details. Our job is to understand and anticipate every micro-action and use words as a friendly guide to encourage users through the interface."
                } %}
            </div>
            <div class='dmt-5 dmb-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'dsMenuScreen3',
                    'title': 'Be clear, then be brief', 
                    'desc': "Because of online reading behavior and varying screen sizes, UX writing has certain constraints. It often has to be extremely concise and yet simultaneously communicate a lot of meaning.<br><br>But is shorter always better? It depends.<br><br>As a general rule, concise and to-the-point copy works best. However, when you focus exclusively on making copy as short as possible, sometimes you can lose needed context and create confusion. Clarity trumps brevity."
                } %}
                <p class='pe-label--large'>But is shorter always better? It depends.</p>
                <p class='pe-label--large'>As a general rule, concise and to-the-point copy works best. However, when you focus exclusively on making copy as short as possible, sometimes you can lose needed context and create confusion. Clarity trumps brevity.</p>
            </div>
            <div class='dmt-5 dmb-6'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'dsMenuScreen4',
                    'title': 'Consider your context', 
                    'desc': 'Understanding the entire user journey is critical to good UX writing. Before you attempt to provide UI text feedback on a sketch or prototype, make sure you understand the context of the words on the screen.'
                } %}
                <ul class='pe-styled-lists--unordered'>
                    <li class='pe-label--large'>What did the user do to make that screen appear?</li>
                    <li class='pe-label--large'>What do they already know about the product?</li>
                    <li class='pe-label--large'>What is the next desired action?</li>
                </ul>
            </div>
            <div class='dmt-5'>
                {% include "_includes/designSys/shared/levelThree" with 
                    {
                        "name": "dsMenuScreen5",
                        "title": "Focus on headings", 
                        "desc": "Users often scan for content that guides them to the next step, answers their questions, or provides information. Short, descriptive headings, subheadings, and bullets make content easier to scan by adding visual structure.<br><br>Headings also assist users with limited or no vision who orient themselves by asking their computer or device to read off all the headings on a screen or page so they can navigate to an area of interest."
                } %}
            </div>
        </div>
    </div>
</section>