<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid">
        <div class="ds-main ds-transition-content" id='dsTransitScreen1'>
            {% include '_includes/designSys/shared/levelTwo' with 
                {
                    'name': 'dsMenuScreen6',
                    'title': 'Voice and tone', 
                    'desc': "Learn how to apply Pearson's voice and tone when designing the content in any product user interface."
            } %}
            <div class="border-y dpt-5">
                {% include '_includes/designSys/shared/levelThree' with 
                    {
                        'name': 'dsMenuScreen7',
                        'title': "What's the difference between voice and tone?", 
                        'desc': "The characteristics of Pearson's voice are similar to the persistent personality of a favorite professor: <strong>smart</strong>, <strong>supportive</strong>, and <strong>positive</strong>. The tone is the mood of that professor that can change under different circumstances."
                } %}
            </div>
            <div class="d-flex">
                <div class='ds-writing-voice dmr-2'>
                    {% include '_includes/designSys/shared/levelThree' with 
                        {
                            'name': 'dsMenuScreen8',
                            'title': 'Voice', 
                            'desc': "Pearson's product voice is part of its brand personality. Like a person's essential nature, it doesn't change according to a situation. Our product voice determines how we carry the conversation and make our users feel while using our products. It is:"
                    } %}
                    <ul class='pe-list pe-unstyled-lists--unordered'>
                        <li class='pe-label--large'>
                            <svg role="img"
                                focusable="false"
                                aria-hidden="true"
                                class="pe-icon--check-sm-24">
                                <use xlink:href="#check-sm-24"></use>
                            </svg>
                            Smart, but not stodgy 
                        </li>
                        <li class='pe-label--large'>
                            <svg role="img"
                                focusable="false"
                                aria-hidden="true"
                                class="pe-icon--check-sm-24">
                                <use xlink:href="#check-sm-24"></use>
                            </svg>
                            Supportive, but not overbearing
                        </li>
                        <li class='pe-label--large'>
                            <svg role="img"
                                focusable="false"
                                aria-hidden="true"
                                class="pe-icon--check-sm-24">
                                <use xlink:href="#check-sm-24"></use>
                            </svg>
                            Positive, but not artificial
                        </li>
                    </ul>
                </div>
                <div class='ds-writing-tone dml-2'>
                    {% include '_includes/designSys/shared/levelThree' with 
                        {
                            'name': 'dsMenuScreen9',
                            'title': 'Tone', 
                            'desc': 'Our tone is a subset of our product voice, analogous to mood in a person. It can and should change to adapt to different situations. Use the mental or emotional state of users as your compass for tone. Depending on the user and the context, our tone can be:'
                    } %}
                    <ul class='pe-list pe-styled-lists--unordered'>
                        <li class='pe-label--large'>Informative</li>
                        <li class='pe-label--large'>Insightful</li>
                        <li class='pe-label--large'>Encouraging</li>
                        <li class='pe-label--large'>Personal</li>
                        <li class='pe-label--large'>Fun</li>
                        <li class='pe-label--large'>Upbeat</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>