<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid">
        <div class="ds-main ds-transition-content" id='dsTransitScreen1'>
            {% include '_includes/designSys/shared/levelTwo' with 
                {
                    'name': 'dsMenuScreen6',
                    'title': 'Voice and tone', 
                    'desc': "Learn how to apply Pearson's voice and tone when designing the content in any product user interface."
            } %}
            <div class="border-top border-bottom dpy-5 dmy-5">
                <h3 class="pe-title pe-bold dmb-2">What's the difference between voice and tone?</h3>
                <p class="pe-label--large--multi dmb-0">The characteristics of Pearson's voice are similar to the persistent personality of a favorite professor: <strong>smart</strong>, <strong>supportive</strong>, and <strong>positive</strong>. The tone is the mood of that professor that can change under different circumstances.</p>
            </div>
            <div class="d-flex">
                <div class='ds-writing-voice dmr-2'>
                    <h3 class="pe-title pe-bold dmb-2">Voice</h3>
                    <p class="pe-label--large--multi dmb-0">Pearson's product voice is part of its brand personality. Like a person's essential nature, it doesn't change according to a situation. Our product voice determines how we carry the conversation and make our users feel while using our products. It is:</p>
                    <ul class='pe-styled-lists--unordered'>
                        <li class='pe-label--large dpy-1'>Smart, but not stodgy</li>
                        <li class='pe-label--large dpy-1'>Supportive, but not overbearing</li>
                        <li class='pe-label--large dpy-1'>Positive, but not artificial</li>
                    </ul>
                </div>
                <div class='ds-writing-tone dml-2'>
                    <h3 class="pe-title pe-bold dmb-2">Tone</h3>
                    <p class="pe-label--large--multi dmb-0">Our tone is a subset of our product voice, analogous to mood in a person. It can and should change to adapt to different situations. Use the mental or emotional state of users as your compass for tone. Depending on the user and the context, our tone can be:</p>
                    <ul class='pe-styled-lists--unordered d-flex flex-wrap'>
                        <li class='pe-label--large dpy-1'>Informative</li>
                        <li class='pe-label--large dpy-1'>Insightful</li>
                        <li class='pe-label--large dpy-1'>Encouraging</li>
                        <li class='pe-label--large dpy-1'>Personal</li>
                        <li class='pe-label--large dpy-1'>Fun</li>
                        <li class='pe-label--large dpy-1'>Upbeat</li>
                    </ul>
                </div>
            </div>
            <div class="bg-pattern-grid sp-7 dmt-6">
                <img class='dmb-3 img-fluid' src='/public/theme_assets/writing-dodont00.png' alt=''>
                <img class='img-fluid' src='/public/theme_assets/writing-dodont01.png' alt=''>
            </div>
        </div>
    </div>
</section>