<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen2'>
            <h2 class="font-pd ds-section-title dmb-7 position-relative">
                <a class="ds-hidden-anchor ds-menu-active-anchor position-absolute" href="###" aria-hidden='true' tabindex="-1">menu anchor</a>
                <a class="ds-hidden-anchor ds-menu-position-anchor position-absolute" href="###" name="dsMenuScreen7" aria-hidden='true' tabindex="-1">dsMenuScreen7</a>
                Grammar and mechanics
            </h2>
            {% include '_includes/designSys/shared/levelThree' with 
                {
                    'name': 'dsMenuScreen8',
                    'title': 'Capitalization',
                    'desc': 'Use sentence case (capitalize the first letter of the first word) in headings, subheadings, and labels, except for proper nouns.'
            } %}
            <div class="bg-pattern-grid sp-7 dmy-5">
                <img class='img-fluid' src='/public/theme_assets/writing-dodont02.png' alt=''>
            </div>
            <p class='pe-label--large'>Exception: In vertical formats such as cards, use the three character abbreviation for the month in ALL CAPS.</p>
            {% include '_includes/designSys/shared/levelThree' with 
                {
                    'name': 'dsMenuScreen9',
                    'title': 'Contractions',
                    'desc': "Use contractions to set a more conversational, casual tone, and to make text easier to read. Use contractions thoughtfully, but don't overuse them."
            } %}
            <div class="bg-pattern-grid sp-7 dmy-5">
                <img class='img-fluid' src='/public/theme_assets/writing-dodont03.png' alt=''>
            </div>
            <p class='pe-label--large'>Don't mix contractions and their spelled-out equivalents in UI text.</p>
            <div class="bg-pattern-grid sp-7 dmt-5">
                <img class='img-fluid' src='/public/theme_assets/writing-dodont04.png' alt=''>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen3'>
            <h3 class="pe-title pe-bold dmb-0 dmt-9 position-relative">
                <a class="ds-hidden-anchor ds-menu-active-anchor position-absolute" href="###" aria-hidden='true' tabindex="-1">menu anchor</a>
                <a class="ds-hidden-anchor ds-menu-position-anchor position-absolute" href="###" name="dsMenuScreen10" aria-hidden='true' tabindex="-1">dsMenuScreen10</a>
                Dates and times
            </h3>
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'name': 'Year',
                    'desc': 'Use the US date format when including the year.'
            } %}
            <div class='border rounded dpy-4 dpx-5 dmt-5'>
                <p class='pe-title--small dmb-0'>August 1, 2018</p>
            </div>
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'name': 'Month',
                    'desc': "Spell out the name of the month in horizontal formats such as calendars, email, and other UI elements where there's enough space.<br><br>In vertical formats such as cards, use the three character abbreviation for the month in ALL CAPS."
            } %}
            <div class="dmt-5">
                <img class='img-fluid d-block mx-auto' src='/public/theme_assets/writing-card.png' alt=''>
            </div>
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'name': 'Times',
                    'desc': 'Keep the following best practices in mind when writing about time:
                    '
            } %}
            <ul class='pe-styled-lists--unordered'>
                <li class='pe-label--large--multi'>Use the 12-hour clock, followed by AM or PM in uppercase letters.</li>
                <li class='pe-label--large--multi'>Put a space after the last number, as in 7:10 AM.</li>
                <li class='pe-label--large--multi'>When there are no minutes, write the time without them, as in 7 AM EST.</li>
                <li class='pe-label--large--multi'>Specify noon or midnight in parentheses for clarity, as in 12 AM (midnight).</li>
            </ul>
            <div class="bg-pattern-grid sp-7 dmy-5">
                <img class='img-fluid' src='/public/theme_assets/writing-dodont05.png' alt=''>
            </div>
            <p class='pe-label--large'>When it's necessary to indicate a time zone, use the time zone abbreviation after AM or PM.</p>
            <div class='border rounded dpy-4 dpx-5 dmy-5'>
                <p class='pe-title--small dmb-0'>4:30 PM GMT</p>
            </div>
            <p class='pe-label--large'>To indicate a time range, use an <strong>en dash</strong> with spaces around it and include AM/PM after both times.</p>
            <div class='border rounded dpy-4 dpx-5 dmy-5'>
                <p class='pe-title--small dmb-0'>3:30 PM - 4:30 PM</p>
            </div>
            <p class='pe-label--large dmb-0'>Use the browser time of the logged in user.</p>
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'name': 'Abbreviations for days, hours, and minutes',
                    'desc': "Use the following abbreviations for days, hours, and minutes:"
            } %}
            <br>
            <p class='pe-label--large--multi'><b>d</b> = day/days</p>
            <p class='pe-label--large--multi'><b>h</b> = hour/hours</p>
            <p class='pe-label--large--multi'><b>min</b> = minute/minutes</p>
            <div class="dmt-5">
                <img class='img-fluid' src='/public/theme_assets/writing-abbr.png' alt=''>
            </div>
        </div>
    </div>
</section>
<section class="bg-white position-relative">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen4'>
            {% include '_includes/designSys/shared/levelThree' with 
            {
                'name': 'dsMenuScreen11',
                'title': 'Headings',
                'desc': 'Headings are often the first--and only--written content that users notice in the UI.'
            } %}
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'name': 'Write for scanning and accessibility',
                    'desc': 'Organizing the layout of content with headings gives users a sense of organization and structure at-a-glance. Treat headings like microcontent-short text fragments that can be scanned by readers or screen readers and still give users a clear idea of the underlying information on the page or screen. For more information see <a href="">Accessibility</a>.'
            } %}
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'name': 'Use parallel structure',
                    'desc': 'Headings written in parallel structure (with the same grammatical pattern) make content easier to follow.'
            } %}
            <div class="bg-pattern-grid sp-7 dmt-5 dmb-10">
                <img class='img-fluid' src='/public/theme_assets/writing-dodont06.png' alt=''>
            </div>
        </div>
    </div>
    {% include '_includes/designSys/atoms/contentJumpLink' %}
</section>