<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen2'>
            <h2 class="font-pd ds-section-title dmb-7">
                <a class="ds-hidden-anchor ds-menu-anchor position-absolute" href="###" aria-hidden='true' tabindex="-1">menu anchor</a>
                <a class="ds-hidden-anchor position-absolute" href="###" name="dsMenuScreen10" aria-hidden='true' tabindex="-1">dsMenuScreen10</a>
                Grammar and mechanics
            </h2>
            {% include '_includes/designSys/shared/levelThree' with 
                {
                    'name': 'dsMenuScreen11',
                    'title': 'Capitalization',
                    'desc': 'Use sentence case (capitalize the first letter of the first word) in headings, subheadings, and labels, except for proper nouns.'
            } %}
            <div class='border ds-writing-grammar dpy-4 dpx-6 dmb-5'>
                <h4 class='pe-title pe-bold'>Good example of sentence case</h4>
                <p class='pe-label--secondary'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, mi at tincidunt sodales, turpis risus luctus ante, quis pulvinar purus nunc a nunc. Quisque nisl tortor, vehicula eu volutpat sed, malesuada sit amet odio.</p>
            </div>
            <p class='pe-label--large'>Exception: In vertical formats such as cards, use the three character abbreviation for the month in ALL CAPS.</p>
            {% include '_includes/designSys/shared/levelThree' with 
                {
                    'name': 'dsMenuScreen12',
                    'title': 'Contractions',
                    'desc': 'Use contractions to set a more conversational, casual tone, and to make text easier to read.'
            } %}
            <div class='dpy-5 border-y d-flex justify-content-between'>
                <p class='pe-label--large'>We've created this guide to help you with UX writing.</p>
                <img class='dmx-4' src="/public/theme_assets/vs.svg">
                <p class='pe-label--large'>We have created this guide to help you with UX writing.</p>
            </div>
            <p class='pe-label--large'>Use contractions thoughtfully, but don't overuse them.</p>
            <p class='pe-label--large'>Don't mix contractions and their spelled-out equivalents in UI text.</p>
        </div>
    </div>
</section>
<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen3'>
            <h3 class="pe-title pe-bold dmb-2 dmt-9">
                <a class="ds-hidden-anchor ds-menu-anchor position-absolute" href="###" aria-hidden='true' tabindex="-1">menu anchor</a>
                <a class="ds-hidden-anchor position-absolute" href="###" name="dsMenuScreen13" aria-hidden='true' tabindex="-1">dsMenuScreen13</a>
                Dates and times
            </h3>
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'topSpacing': true,
                    'name': 'Year',
                    'desc': 'Use the US date format when including the year.'
            } %}
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'topSpacing': true,
                    'name': 'Month',
                    'desc': "Spell out the name of the month in horizontal formats such as calendars, email, and other UI elements where there's enough space."
            } %}
            <p class='pe-label--large'>In vertical formats such as cards, use the three character abbreviation for the month in ALL CAPS.</p>
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'topSpacing': true,
                    'name': 'Times',
                    'desc': 'Keep the following best practices in mind when writing about time:
                    '
            } %}
            <ul class='pe-list pe-styled-lists--unordered'>
                <li>Use the 12-hour clock, followed by am or pm.</li>
                <li>Don't put a space after the last number, as in 7:00 am. Write it as 7:00am.</li>
                <li>Specify noon or midnight for 12:00 in parentheses for clarity, as in 12:00 (midnight).</li>
            </ul>
            <p class='pe-label--large'>When it's necessary to indicate a time zone, use the time zone abbreviation after am or pm.</p>
            <p class='pe-label--large'>To indicate a time range, use an <strong>en dash</strong> with spaces around it and include am/pm after both times.</p>
            <p class='pe-label--large'>Use the browser time of the logged in user.</p>
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'topSpacing': true,
                    'name': 'Abbreviations for days, hours, and minutes',
                    'desc': "Use the following abbreviations for days, hours, and minutes:"
            } %}
            <p class='pe-label--large'><b>d</b> = day/days</p>
            <p class='pe-label--large'><b>h</b> = hour/hours</p>
            <p class='pe-label--large'><b>min</b> = minute/minutes</p>
        </div>
    </div>
</section>
<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen4'>
            {% include '_includes/designSys/shared/levelThree' with 
            {
                'name': 'dsMenuScreen14',
                'title': 'Headings',
                'desc': 'Headings are often the first-and only-written content that users notice in the UI.'
            } %}
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'topSpacing': true,
                    'name': 'Write for scanning and accessibility',
                    'desc': 'Organizing the layout of content with headings gives users a sense of organization and structure at-a-glance. Treat headings like microcontent-short text fragments that can be scanned by readers or screen readers and still give users a clear idea of the underlying information on the page or screen. For more information see <a href="">Accessibility</a>.'
            } %}
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'topSpacing': true,
                    'name': 'Use parallel structure',
                    'desc': 'Headings written in parallel structure (with the same grammatical pattern) make content easier to follow.'
            } %}
        </div>
    </div>
</section>