<div class="two_column">
  <div class="text">
    {{ block.text }}

    {% include '_includes/featureLinks' %}
  </div>
  <div class="content">
    {% for asset in block.media.all() %}
      {% switch asset.mediaType %}

      {% case 'wideImage' %}
      <div class="image wide">
        <div class="media {% if asset.border %}border{% endif %}">
          <img src="{{ asset.url }}" />
        </div>
        {% if asset.caption %}<div class="caption">{{ asset.caption | markdown }}</div>{% endif %}
      </div>

      {% case 'narrowImage' %}
      <div class="image narrow">
        <div class="media {% if asset.border %}border{% endif %}">
          <img src="{{ asset.url }}" />
        </div>
        {% if asset.caption %}<div class="caption">{{ asset.caption | markdown }}</div>{% endif %}
      </div>

      {% case 'ios image' or 'ios_image' or 'iOS image' or 'iOS_image' %}
      <div class="image ios">
        <div class="media {% if item.border %}border{% endif %}">
          <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
        </div>
        {% if item.caption %}<div class="caption">{{item.caption | markdown}}</div>{% endif %}
      </div>

      {% case 'android image' or 'android_image' %}
      <div class="image android">
        <div class="media {% if item.border %}border{% endif %}">
          <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
        </div>
        {% if item.caption %}<div class="caption">{{item.caption | markdown}}</div>{% endif %}
      </div>

      {% case 'wideVideo' %}
      <div class="image wide">
        <div class="media {% if asset.border %}border{% endif %}">
          <video src="{{ asset.url }}" loop controls/>
        </div>
        {% if asset.caption %}<div class="caption">{{ asset.caption | markdown }}</div>{% endif %}
      </div>

      {% case 'narrowVideo' %}
      <div class="image narrow">
        <div class="media {% if asset.border %}border{% endif %}">
          <video src="{{ asset.url }}" loop controls/>
        </div>
        {% if asset.caption %}<div class="caption">{{ asset.caption | markdown }}</div>{% endif %}
      </div>

      {% case 'table' %}
      <div class="table">{{item.content | markdown}}</div>

      {% case 'code' %}
      <pre class="pe-code">{{item.content}}</pre>

      {% case 'text' %}
      <div class="text-content pe-copy">{{item.content | markdown}}</div>

      {% case 'palette' %}
      <div class="colors">
        {% for color in page.palettes[item.palette] %}
          {% set color_data = page.colors[color] %}
          <div class="color" data-state="open" data-border="{% if color_data.use_border %}true{% else %}false{% endif %}">
            <div class="bar {% if color_data.use_border %}border{% endif %}" style="background-color: #{{color_data.hex}};">
              <div class="name {% if color_data.use_border %}border{% endif %}" style="transform: translateY(70px);">
                <p>{{color}}</p>
                <p>#{{color_data.hex}}</p>
              </div>
            </div>
            <div class="details">
              <h5>Primary Uses</h5>
              <div class="uses">{% if color_data.uses %}{{color_data.uses | markdown}}{% endif %}</div>

              <h5>A11y Complements</h5>
              <div class="complements">
                {% for complement in color_data.a11y_complements %}
                  {% set comp_data = page.colors[complement] %}
                  <div class="complement">
                    <div class="complement_swatch {% if comp_data.use_border %}border{% endif %}" style="background-color: #{{comp_data.hex}}"></div>
                    <p>{{complement}}</p>
                  </div>
                {% else %}
                  <div class="complement"><p>No complements meet accessibility requirements</p></div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% case 'colors' %}
      <div class="colors">
        {% for color in item.colors %}
          {% set color_data = page.colors[color] %}
          <div class="color" data-state="open" data-border="{% if color_data.use_border %}true{% else %}false{% endif %}">
            <div class="bar {% if color_data.use_border %}border{% endif %}" style="background-color: #{{color_data.hex}};">
              <div class="name {% if color_data.use_border %}border{% endif %}" style="transform: translateY(70px);">
                <p>{{color}}</p>
                <p>#{{color_data.hex}}</p>
              </div>
            </div>
            <div class="details">
              <h5>Primary Uses</h5>
              <div class="uses">{% if color_data.uses %}{{color_data.uses | markdown}}{% endif %}</div>

              <h5>A11y Complements</h5>
              <div class="complements">
                {% for complement in color_data.a11y_complements %}
                  {% set comp_data = page.colors[complement] %}
                  <div class="complement">
                    <div class="complement_swatch {% if comp_data.use_border %}border{% endif %}" style="background-color: #{{comp_data.hex}}"></div>
                    <p>{{complement}}</p>
                  </div>
                {% else %}
                  <div class="complement"><p>No complements meet accessibility requirements</p></div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% endswitch %}
    {% endfor %}
  </div>
</div>
