{% set entry = craft.entries.section('components').type('component').slug(component|lower).first() %}

{% extends "_default" %}
{% set pageTitle = entry.title %}

{% block sidebar %}
  {% include "_includes/nightlySidebar" %}
{% endblock %}

{% block content %}
  {% set latest = (entry.getChildren().find() | getNightly) %}

  {% if 'icons' in (entry.title | lower) %}
    {% include 'components/_types/iconsVersion' with {'entry': latest} only %}
  {% else %}
    {% include '_includes/component_entry' with {'entry': latest} only %}
  {% endif %}
{% endblock %}
