<section class="ds-cover position-relative">
    <img class='ds-cover-waves position-absolute' src='/public/theme_assets/visual-bg-wave00.svg' alt=''>
    <img class='ds-cover-waves position-absolute' src='/public/theme_assets/visual-bg-wave01.svg' alt=''>
    <img class='ds-cover-waves position-absolute' src='/public/theme_assets/visual-bg-wave02.svg' alt=''>
    <div class="ds-container ds-screen-cover">
        <div class="ds-grid position-fixed">
            <div class="ds-main mx-auto text-center d-flex flex-column justify-content-center flex-align-center">
                <div class='ds-short-cover'>
                {% include '_includes/designSys/shared/levelOne' with 
                    {
                        'white': true,
                        'name': 'Visual', 
                        'desc': 'The thoughtful reflection of the Pearson brand through meaningful visual elements.'
                } %}
                </div>
            </div>
        </div>
    </div>
</section>