<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid">
        <div class="ds-main ds-transition-content" id='dsTransitScreen0'>
            {% include '_includes/designSys/shared/levelTwo' with 
                {'name': 'dsMenuScreen0',
                'title': 'Color palettes', 
                'desc': "Using color palettes in a consistent way can benefit sighted users by providing them with additional emotional impact or enhance meaning, or a general sense of orientation within a product.<br><br>Here is how we think about colors:"
            } %}
            <div class='dmt-5 dpb-6 dmb-6 d-flex border-bottom'>
                {% include '_includes/designSys/atoms/hiddenAnchor' with 
                    { 'class': 'ds-animation-trigger' } 
                %}
                <div class='ds-colorpalettes-img text-center dpt-1'>
                    <img src="/public/theme_assets/colorembellish.svg" alt=''>
                </div>
                <div class='dml-5'>
                    <p class="pe-title--small pe-bold smb-3">Embellish</p>
                    <p class="pe-label--large dmb-0">Think of color as an enhancement and not as the primary way to convey meaning. Sighted users benefit by the use of color and contrast to enhance meaning, provide additional emotional impact, or help them feel oriented within consistent color patterns.</p>
                </div>
            </div>
            <div class='dmt-5 dpb-6 dmb-6 d-flex border-bottom'>
                <div class='ds-colorpalettes-img text-center dpt-1'>
                    <img src="/public/theme_assets/colorlast.svg" alt=''>
                </div>
                <div class='dml-5'>
                    <p class="pe-title--small pe-bold smb-3">Add color last</p>
                    <p class="pe-label--large dmb-0">Besides button transactions, color should be the last thing added to the experience.</p>
                </div>
            </div>
            <div class='dmt-5 dpb-6 dmb-6 d-flex border-bottom'>
                <div class='ds-colorpalettes-img text-center dpt-1'>
                    <img src="/public/theme_assets/colorpalettes.svg" alt=''>
                </div>
                <div class='dml-5'>
                    <p class="pe-title--small pe-bold smb-3">Use Pearson palettes</p>
                    <p class="pe-label--large dmb-0">Use Pearson color palettes consistently in designs to ensure an overall unifying experience across Pearson products.</p>
                </div>
            </div>
            <div class='dmt-5 dpb-6 dmb-6 d-flex border-bottom'>
                <div class='ds-colorpalettes-img text-center dpt-1'>
                    <img src="/public/theme_assets/coloraccessibility.svg" alt=''>
                </div>
                <div class='dml-5'>
                    <p class="pe-title--small pe-bold smb-3">Don't use color for primary meaning</p>
                    <p class="pe-label--large dmb-0">Since color benefits only sighted users, it can never be used as the only way to convey meaning.</p>
                </div>
            </div>
            <div class='dmt-5 dmb-10 d-flex'>
                <div class='ds-colorpalettes-img text-center dpt-1'>
                    <img src="/public/theme_assets/colorvibrate.svg" alt=''>
                </div>
                <div class='dml-5'>
                    <p class="pe-title--small pe-bold smb-3">Don't cause vibration</p>
                    <p class="pe-label--large dmb-0">Using too many colors at once can cause designs to appear like they’re vibrating. This can distract and overload users.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="bg-white-gray">
        <div class="ds-container ds-grid">
            <div class="ds-main ds-transition-content" id='dsTransitScreen1'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {
                        'topSpacing': true,
                        'name': 'dsMenuScreen1',
                        'title': 'Global system palette', 
                        'desc': 'The global system palette uses Pearson brand colors to provide important signals and feedback to users. It also creates brand harmony when used within a course theme colors.'
                } %}
            </div>
        </div>
        <div class="ds-container ds-grid ds-2rows dpt-5 dpb-2">
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {
                        'bottomSpacing': true,
                        'name': 'Pearson Blue', 
                        'color': 'bg-pearson-blue',
                        'hex': '047A9C'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {
                        'bottomSpacing': true,
                        'name': 'White', 
                        'color': 'bg-white',
                        'hex': 'FFFFFF'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {
                        'bottomSpacing': true,
                        'name': 'Sunshine Yellow', 
                        'color': 'bg-sunshine-yellow',
                        'hex': 'FFB81C'
                } %}
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="ds-container ds-grid">
            {% include '_includes/designSys/atoms/hiddenAnchor' with 
                { 'class': 'ds-animation-trigger' } 
            %}
            <div class="ds-main">
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <div id="colorDoDont00"></div>
                    {% include '_includes/designSys/atoms/hiddenAnchor' with 
                        { 'class': 'ds-animation-trigger' } 
                    %}
                    <div class='dmt-2' id="colorDoDont01"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-section' } 
    %}
    <div class="bg-white-gray">
        <div class='ds-transition-content' id='dsTransitSection0'>
            <div class="ds-container ds-grid ds-8rows">
                <div class="ds-main">
                    {% include '_includes/designSys/shared/levelThree' with 
                        {
                            'topSpacing': true,
                            'name': 'dsMenuScreen2',
                            'title': 'Neutral palette', 
                            'desc': 'The neutral palette provides contrast to the global system palette. We use different levels of contrast to convey different meanings to users.'
                    } %}
                </div>
                <div class="ds-main dmb-5">
                    {% include '_includes/designSys/shared/levelFour' with 
                        {
                            'name': 'High contrast tones', 
                            'desc': 'Use high-contrast tones when communication is most important.'
                    } %}
                </div>
                <div class="ds-left-main">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'name': 'Charcoal', 
                            'color': 'bg-charcoal',
                            'hex': '252525',
                            'note': 'Use for body copy and other primary information'
                    } %}
                </div>
                <div class="ds-right-main">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'name': 'Medium Gray', 
                            'color': 'bg-medium-gray',
                            'hex': '6A7070', 
                            'note': 'Use for secondary information, such as hollow buttons'
                    } %}
                </div>
                <div class="ds-main dmb-5">
                    {% include '_includes/designSys/shared/levelFour' with 
                        {
                            'name': 'Medium tones', 
                            'desc': 'Use medium tones to create spatial organization and separation within the user interface.'
                    } %}
                </div>
                <div class="ds-left-main">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'bottomSpacing': true,
                            'name': 'Steel', 
                            'color': 'bg-steel',
                            'hex': 'A9A9A9'
                    } %}
                </div>
                <div class="ds-right-main">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'bottomSpacing': true,
                            'name': 'Concrete', 
                            'color': 'bg-concrete',
                            'hex': 'C7C7C7'
                    } %}
                </div>
                <div class="ds-left-main">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'name': 'Alto', 
                            'color': 'bg-alto',
                            'hex': 'D9D9D9'
                    } %}
                </div>
                <div class="ds-right-main">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'name': 'Moonlight', 
                            'color': 'bg-moonlight',
                            'hex': 'E9E9E9'
                    } %}
                </div>
                <div class="ds-main dmb-5">
                    {% include '_includes/designSys/shared/levelFour' with 
                        {
                            'name': 'Super light tones', 
                            'desc': 'Use super light tones for dimension.'
                    } %}
                </div>
                <div class="ds-left-main dmb-6">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'name': 'Stainless', 
                            'color': 'bg-stainless',
                            'hex': 'EEEEEE',
                            'note': 'Use for default hover state'
                    } %}
                </div>
                <div class="ds-right-main dmb-6">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'name': 'White Gray', 
                            'color': 'bg-white-gray',
                            'hex': 'F5F5F5',
                            'note': 'Use for application background (canvas area)'
                    } %}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="ds-container ds-grid">
            {% include '_includes/designSys/atoms/hiddenAnchor' with 
                { 'class': 'ds-animation-trigger' } 
            %}    
            <div class="ds-main">
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <div id="colorDoDont02"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-section' } 
    %}
    <div class="bg-white-gray">
        <div class="ds-transition-content" id='dsTransitSection1'>
            <div class="ds-container ds-grid ds-3rows dpb-6">
                <div class="ds-main dmb-5">
                    {% include '_includes/designSys/shared/levelThree' with 
                        {
                            'topSpacing': true,
                            'name': 'dsMenuScreen3',
                            'title': 'Conditional Palette', 
                            'desc': 'We use a conditional palette to indicate alerts, confirmations, and notifications. Our conditional palette is high-contrast and fully accessible and works best when used with a light touch. Too much conditional color can make the user interface feel blocky or loud.'
                    } %}
                </div>
                <div class="ds-left-main">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'bottomSpacing': true,
                            'name': 'Alert Red', 
                            'color': 'bg-alert-red',
                            'hex': 'DB0020',
                            'note': 'Use when something is incorrect, negative, or stopped'
                    } %}
                </div>
                <div class="ds-right-main">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {
                            'bottomSpacing': true,
                            'name': 'Confirm Green', 
                            'color': 'bg-confirm-green',
                            'hex': '038238',
                            'note': 'Use when something is correct, positive, or started'
                    } %}
                </div>
                <div class="ds-left-main">
                    {% include '_includes/designSys/atoms/singleColor' with 
                        {'name': 'Notification Pink', 
                        'color': 'bg-notification-pink',
                        'hex': 'DA0474',
                        'note': 'Use as a notification'
                    } %}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="ds-container ds-grid">
            {% include '_includes/designSys/atoms/hiddenAnchor' with 
                { 'class': 'ds-animation-trigger' } 
            %}
            <div class="ds-main">
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <div id="colorDoDont03"></div>
                    {% include '_includes/designSys/atoms/hiddenAnchor' with 
                        { 'class': 'ds-animation-trigger' } 
                    %}
                    <div class='dmt-2'id="colorDoDont04"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="position-relative">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-section' } 
    %}
    <div class="bg-white-gray">
        <div class="ds-container ds-grid">
            <div class="ds-main ds-transition-content" id='dsTransitSection2'>
                {% include '_includes/designSys/shared/levelThree' with 
                    {
                        'topSpacing': true,
                        'name': 'dsMenuScreen4',
                        'title': 'Theme palette', 
                        'desc': 'Our theme palettes were derived from the Pearson accent palette so that all of them  pair nicely when used in conjunction with the global system palette. Theme colors give students and instructors the ability to personalize their experience with our products.'
                } %}
            </div>
        </div>
        <div class="ds-container ds-grid ds-6rows dpt-6">
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Aqua', 
                    'color': 'bg-aqua',
                    'hex1': 'CAEFEE',
                    'hex2': '76D5D4',
                    'hex3': '19A5A3'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Violet', 
                    'color': 'bg-violet',
                    'hex1': 'F2E5F1',
                    'hex2': '895B9A*',
                    'hex3': '633673*'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Chartreuse', 
                    'color': 'bg-chartreuse',
                    'hex1': 'F6F8CC',
                    'hex2': 'D2DB0E',
                    'hex3': 'B0B718'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Indigo', 
                    'color': 'bg-indigo',
                    'hex1': 'D9E6F1',
                    'hex2': '356286*',
                    'hex3': '1E496C*'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Lime', 
                    'color': 'bg-lime',
                    'hex1': 'DEA30D',
                    'hex2': '66BE3E',
                    'hex3': '288500*'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Sky', 
                    'color': 'bg-sky',
                    'hex1': 'D6ECF4',
                    'hex2': '80C5DD',
                    'hex3': '46A9CB'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/multiColors' with 
                    {'name': 'Canary', 
                    'color': 'bg-canary',
                    'hex1': 'FAEBC3',
                    'hex2': 'F5C54C',
                    'hex3': 'DEA30D'
                } %}
            </div>
            <div class="ds-main">
                <p class="pe-label dmb-0 dpb-10">*Any text on top these colors must be white to pass accessibility requirements. In all other cases, use Charcoal.</p>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="ds-container ds-grid">
            {% include '_includes/designSys/atoms/hiddenAnchor' with 
                { 'class': 'ds-animation-trigger' } 
            %}
            <div class="ds-main">
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <div id="colorDoDont05"></div>
                </div>
            </div>
        </div>
    </div>
    {% include '_includes/designSys/atoms/contentJumpLink' %}
</section>