<section class="ds-typography">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-type-bg dpb-10 position-relative'>
        <div class='ds-type-text smt-9 position-absolute mx-auto'>
            <p class='xl-title pe-bold text-white text-center dmy-0'>AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
            <p class='xl-title pe-bold text-white text-center dmy-0'>AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz</p>
        </div>
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-transition-content' id='dsTransitScreen2'>
                {% include '_includes/designSys/shared/levelTwo' with 
                    {
                        'name': 'dsMenuScreen5',
                        'title': 'Typography', 
                        'textcolor': 'text-white',
                        'desc': 'Use typography to create clear hierarchies and useful organizations that guide users through the product experience.'
                } %}
                {% include '_includes/designSys/shared/levelThree' with 
                    {
                        'name': 'dsMenuScreen6',
                        'title': 'Web fonts', 
                        'textcolor': 'text-white',
                        'desc': "We use the <strong>Open Sans</strong> font for product designs. One of two Pearson's global brand fonts, Open Sans provides a wide range of weights and maintains clarity at small screen sizes.<br><br><b>Note:</b> We don't use <strong>Playfair</strong>, Pearson's other global brand font, because it loses its integrity at small screen sizes."
                } %}
                {% include '_includes/designSys/atoms/hiddenAchor' with 
                    { 'class': 'ds-menu-transition' } 
                %}
                {% include '_includes/designSys/atoms/hiddenAchor' with 
                    { 'class': 'ds-animation-trigger' } 
                %}
                <div class='ds-fontweight-demo dmt-5 d-flex justify-content-center'>
                    <div class='dpy-2 dpx-5 dmr-3'>
                        <p class='text-white dmb-0 text-center'>Aa</p>
                        <p class='pe-label text-white'>Open Sans Regular</p>
                    </div>
                    <div class='dpy-2 dpx-5 dml-3'>
                        <p class='pe-bold text-white dmb-0 text-center'>Aa</p>
                        <p class='pe-bold pe-label text-white'>Open Sans Regular</p>
                    </div>
                </div>
                {% include '_includes/designSys/shared/levelThree' with 
                    {
                        'name': 'dsMenuScreen7',
                        'title': 'Mobile fonts', 
                        'textcolor': 'text-white',
                        'desc': 'For mobile devices, we use the native fonts San Francisco for iOS and Roboto for Android. These fonts support dynamic type and ensure faster loading time for mobile apps. Dynamic type is a mobile device feature that allows users to select a preferred text size to display on apps that support it.'
                } %}
            </div>
        </div>
    </div>
</section>
<section>
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='bg-white'>
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-transition-content' id='dsTransitScreen3'>
                <div class='dmb-6'>
                    {% include '_includes/designSys/shared/levelThree' with 
                        {
                            'name': 'dsMenuScreen8',
                            'title': 'Font styles and weights', 
                            'desc': "Choose from the following font styles. For additional details, see the <a href='https://uxframework.pearson.com/c/typography' target='_blank'>Typography component</a>."
                    } %}
                </div>
                {% include '_includes/designSys/atoms/hiddenAchor' with 
                    { 'class': 'ds-menu-transition' } 
                %}
                {% include '_includes/designSys/atoms/fontStyle' with 
                    {
                    'tablebody': [
                        {
                            'class': 'pe-title--large pe-bold',
                            'name': 'Heading 24',
                            'size': '24px',
                            'lh': '28px',
                            'rns': true
                        },
                        {
                            'class': 'pe-title pe-bold',
                            'name': 'Heading 20',
                            'size': '20px',
                            'lh': '26px',
                            'rns': true
                        },
                        {
                            'class': 'pe-title--small pe-bold',
                            'name': 'Heading 18',
                            'size': '18px',
                            'lh': '24px',
                            'rns': true
                        },
                        {
                            'class': 'pe-title--xsmall pe-bold',
                            'name': 'Heading 16',
                            'size': '16px',
                            'lh': '20px',
                            's': true
                        },
                        {
                            'class': 'pe-label--large font-weight-normal',
                            'name': 'Body 16 (Single-line)',
                            'size': '16px',
                            'lh': '20px',
                            'rns': true
                        },
                        {
                            'class': 'pe-label--large--multi font-weight-normal',
                            'name': 'Body 16 (Multi-line)',
                            'size': '16px',
                            'lh': '24px',
                            'r': true
                        },
                        {
                            'class': 'pe-label font-weight-normal',
                            'name': 'Body 14 (Single-line)',
                            'size': '14px',
                            'lh': '18px',
                            'rns': true
                        },
                        {
                            'class': 'pe-label--multi font-weight-normal',
                            'name': 'Body 14 (Multi-line)',
                            'size': '14px',
                            'lh': '20px',
                            'r': true
                        },
                        {
                            'class': 'pe-label--small font-weight-normal',
                            'name': 'Metadata',
                            'size': '12px',
                            'lh': '16px',
                            'rns': true
                        }]
                    } 
                %}
                {% include '_includes/designSys/atoms/hiddenAchor' with 
                    { 'class': 'ds-animation-trigger' } 
                %}
                <div class="bg-pattern-grid sp-7 dmt-6">
                    <div id="typography00"></div>
                    {% include '_includes/designSys/atoms/hiddenAchor' with 
                        { 'class': 'ds-animation-trigger' } 
                    %}
                    <div class='dmt-2' id="typography01"></div>
                </div>
            </div>
        </div>
    </div>
</div>