<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen4'>
            {% include '_includes/designSys/shared/levelTwo' with 
                {
                    'name': 'dsMenuScreen9',
                    'title': 'Icons',
                    'desc': "Our family of icons visually communicate core parts of our product. They can also convey available actions and act as wayfinding tools to help students and professors more easily understand where they are in the product.<br><br>For details on downloading and using icons, see the <a href='https://uxframework.pearson.com/c/icons' target='_blank'>Icons component</a> page."
            } %}
            <img class="dmt-6 img-fluid" src="/public/theme_assets/iconclarity.png" alt='We use rounded corners to soften the look of our icons. Task and navigational icons should be in a high contrast tone.'>
            {% include '_includes/designSys/shared/levelThree' with 
                {
                    'name': 'dsMenuScreen10',
                    'title': 'Icon considerations',
                    'desc': 'Although icons can boost usability, they can also harm the user experience if they’re overused or if they’re just not clear.<br/><br/>Consider the following best-practices when using icons:'
            } %}
            <div class='dpt-3 dpb-10'>
            {% include '_includes/designSys/atoms/practices' with 
                    {
                    'practices': 
                    [{'text': "<strong>Use Pearson icons:</strong> Use the simple icons we've already created or request new icons if you can't find any that work for your design. See the <a href='https://uxframework.pearson.com/c/icons' target='_blank'>Icons component</a> page for more details."}, 
                    {'text': "<strong>Use icons consistently:</strong> Icons are like road signs that help users find their way. Make sure to use an icon to convey a single meaning across products."},
                    {'text': "<strong>Communicate with icons:</strong> Keep in mind that icons always convey meaning and should never be used merely for decoration. Make sure the icon matches the desired user action."}] 
                } %}
            </div>
        </div>
    </div>
</section>
<section>
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='bg-white-gray'>
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-transition-content' id='dsTransitScreen5'>
                <h3 class="pe-title pe-bold dmb-2 dmt-9 position-relative">
                    <a class="ds-hidden-anchor ds-menu-active-anchor position-absolute" href="###" aria-hidden='true' tabindex="-1">menu anchor</a>
                    <a class="ds-hidden-anchor ds-menu-position-anchor position-absolute" href="###" name="dsMenuScreen11" aria-hidden='true' tabindex="-1">dsMenuScreen11</a>
                    Icon Styles
                </h3>
                {% include '_includes/designSys/shared/levelFour' with 
                    {
                        'topSpacing': true,
                        'name': 'Filled',
                        'desc': 'We use filled icons only in the global header. The weight of the filled icons compliments the Pearson logo.'
                } %}
                <img class="dmt-6" src="/public/theme_assets/styleheader.svg" alt='An example of global header'>
                {% include '_includes/designSys/shared/levelFour' with 
                    {
                        'topSpacing': true,
                        'name': 'Outline',
                        'desc': 'We use outline icons everywhere except in the global header. They appear lighter than the filled icons, so they tend to be more versatile.'
                } %}
                <img class="dmt-6 dmb-10" src="/public/theme_assets/styleoutline.svg" alt='An example of the use of outline icons'>
            </div>
        </div>
    </div>
    <div class='bg-white'>
        {% include '_includes/designSys/atoms/hiddenAnchor' with 
            { 'class': 'ds-transition-section ds-animation-trigger' } 
        %}
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-transition-content' id='dsTransitSection3'>
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <div id="icons00"></div>
                    {% include '_includes/designSys/atoms/hiddenAnchor' with 
                        { 'class': 'ds-transition-section ds-animation-trigger' } 
                    %}
                    <div class='dmt-2' id="icons01"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen6'>
            {% include '_includes/designSys/shared/levelThree' with 
                {
                    'name': 'dsMenuScreen12',
                    'title': 'Tooltips for icons',
                    'desc': 'We provide tooltips, also known as hint text or hover text, for all of our icons. Tooltips are text labels that identify unlabeled UI elements and provide clarity to users about what tasks the UI element can help them perform. Most icons are recognizable, but tooltips provide that extra bit of information to guide and orient users.'
            } %}
            <div class='d-flex justify-content-center dmy-6'>
                <img class='dmr-7' src="/public/theme_assets/hinttextbottom.svg" alt='an example of the tooltip message showing up beneath an icon'>
                <img src="/public/theme_assets/hinttexttop.svg" alt='an example of the tooltip message showing up above an icon'>
            </div>
            {% include '_includes/designSys/atoms/hiddenAnchor' with 
                { 'class': 'ds-animation-trigger' } 
            %}
            <div class="bg-pattern-grid sp-7 dmt-6">
                <div id="hintText"></div>
            </div>
        </div>
    </div>
</section>