<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen7'>
            {% include '_includes/designSys/shared/levelTwo' with 
                {'name': 'dsMenuScreen13',
                'title': 'Illustrations', 
                'desc': "Illustrations provide the opportunity to weave our brand personality into the user interface. Like all visual elements, illustrations must convey something meaningful to users."
            } %}
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'dsMenuScreen14',
                'title': 'Illustration style', 
                'desc': "Our friendly, hand-crafted illustration style contrasts nicely with our more geometrical grid style."
            } %}
            <div class='d-flex justify-content-center dmt-5'>
                <div class="dpx-3 border-right text-center">
                    <img src="/public/theme_assets/styleunique.svg">
                    <h4 class='pe-title--small pe-bold text-center'>Unique</h4>
                    <p class="pe-label--large text-center">Our illustrations give our product a face that is recognizable.</p>
                </div>
                <div class="dpx-3 border-right text-center">
                    <img src="/public/theme_assets/styleengaging.svg">
                    <h4 class='pe-title--small pe-bold text-center'>Engaging</h4>
                    <p class="pe-label--large text-center">Our illustration style strives to be fun, friendly, and inviting.</p>
                </div>
                <div class="dpx-3 text-center">
                    <img src="/public/theme_assets/styleconsistent.svg">
                    <h4 class='pe-title--small pe-bold text-center'>Consistent</h4>
                    <p class="pe-label--large text-center">Our family of products are tied together by consistent styles.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='ds-container ds-grid'>
        <div class='ds-main ds-transition-content' id='dsTransitScreen8'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'dsMenuScreen15',
                'title': 'Illustration types', 
                'desc': "We use either spot illustrations or scene illustrations, depending on what the user might be doing or feeling at that point in the user interface."
            } %}
            {% include '_includes/designSys/shared/levelFour' with 
                    {
                        'topSpacing': true,
                        'name': 'Spot illustrations',
                        'desc': 'Use spot illustrations to promote useful features or to guide users through a complex process.'
                } %}
            <div class='d-flex justify-content-between dmt-5'>
                <img src="/public/theme_assets/spotillustrationsa.svg">
                <img src="/public/theme_assets/spotillustrationsb.svg">
                <img src="/public/theme_assets/spotillustrationsc.svg">
                <img src="/public/theme_assets/spotillustrationsd.svg">  
            </div>
            {% include '_includes/designSys/shared/levelFour' with 
                    {
                        'topSpacing': true,
                        'name': 'Scene illustrations',
                        'desc': 'Use scene illustrations for situations where users are between actions, such as empty states or getting started on a new task.'
                } %}
            <div class='d-flex justify-content-between dmt-5 dmb-10'>
                <img src="/public/theme_assets/sceneillustrations00.svg">
                <img src="/public/theme_assets/sceneillustrations01.svg"> 
            </div>
        </div>
    </div>
</section>
<section>
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class='bg-white-gray'>
        <div class='ds-container ds-grid'>
            <div class='ds-main ds-transition-content' id='dsTransitScreen9'>
                {% include '_includes/designSys/shared/levelThree' with 
                        {
                            'name': 'dsMenuScreen16',
                            'title': 'Color in Illustrations',
                            'desc': 'The color in spot illustrations is best when limited to two primary colors or a primary and secondary color. The color for scene illustrations can use more than two primary colors.'
                    } %}
                <h4 class="pe-title--small pe-bold dmb-5 dpt-6">Primary colors</h4>
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Rose', 
                    'color': 'bg-rose',
                    'hex': 'EDC0F2'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Pear', 
                    'color': 'bg-pear',
                    'hex': 'ABDC3B'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Aqua', 
                    'color': 'bg-aqua',
                    'hex': '76D5D4'
                } %}
            </div>
            <div class="ds-right-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Seagrass', 
                    'color': 'bg-seagrass',
                    'hex': 'D3EAE4'
                } %}
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Canary', 
                    'color': 'bg-canary',
                    'hex': 'F5C54C'
                } %}
            </div>
            <div class='ds-main'>
                <h4 class="pe-title--small pe-bold dmb-5 dpt-6">Secondary color</h4>
            </div>
            <div class="ds-left-main">
                {% include '_includes/designSys/atoms/singleColor' with 
                    {'name': 'Moonlight', 
                    'color': 'bg-moonlight',
                    'hex': 'E9E9E9'
                } %}
            </div>
            <div class='ds-main'>
                <h4 class="pe-title--small pe-bold dmb-5 dpt-6">Stroke</h4>
                <div class='d-flex ds-illustration-stroke dmb-10'>
                    <hr>
                    <p class='pe-label--large dml-2'>1.5px weight, Medium Gray</p>
                </div>
            </div>
        </div>
    </div>
    <div class='bg-white'>
        <div class='ds-container ds-grid'>
            {% include '_includes/designSys/atoms/hiddenAnchor' with 
                { 'class': 'ds-animation-trigger' } 
            %}
            <div class='ds-main'>
                <div class="bg-pattern-grid sp-7 dmt-6 dmb-10">
                    <div id="illustration"></div>
                </div>
            </div>
        </div>
    </div>
</section>
