<table class='border-bottom dmb-6'>
    <caption class='pe-label pe-bold text-darkblue text-left dmb-2'>{{ title }}</caption>
    <thead class='sr-only'>
        <tr>
            <th>Demo</th>
            <th>Font size and line height</th>
        </tr>
    </thead>
    <tbody>
        {% for item in tablebody %}
        <tr>
            <th class="{{ item.class }} dpl-0 font-weight-normal">Learning without limits</th>
            <td class="{{ item.class }} text-right dpr-0">{{ item.td }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>