<h4 class="pe-title pe-bold dmb-3">{{ name }}</h4>
<div class="ds-color-card bg-white ds-shadow dmb-6">
    <div class="d-flex">
        <div class="ds-colors-rects {{ color }}">
            <div class="w-100"></div>
            <div class="w-100"></div>
            <div class="w-100"></div>
        </div>
        <div class="ds-hex-labels w-100">
            <div class="border-bottom w-100 dpl-4">
                <span class="spt-1 pe-label--large">#{{ hex1 }}</span>
            </div>
            <div class="border-bottom w-100 dpl-4">
                <span class="spt-1 pe-label--large">#{{ hex2 }}</span>
            </div>
            <div class="w-100 dpl-4">
                <span class="spt-1 pe-label--large">#{{ hex3 }}</span>
            </div>
        </div>
    </div>
</div>