{% set invisible = invisible | default(false) %}

<div class="ds-ultimate-header position-fixed w-100{% if invisible %} invisible{% endif %}">
    <div class="ds-container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                {% if not invisible %}<img src='/node_modules/@pearson-components/elements-sdk/src/styles/assets/images/PearsonLogo.svg' alt='pearson logo'>{% endif %}
            </div>

            {% if not invisible %}
            <div class="d-flex align-items-center">
                <a class="ds-jump-anchor" href="#firstTOC" name="naviAnchor">Jump to table of content</a>
                <nav class="dmr-6">
                    <ul class="pe-list--unstyled list-inline dmy-0"> 
                        {% nav page in craft.entries.section('designsysGroups').all()%}
                        <li class="pe-label--large list-inline-item dpy-2 dmx-2{% if page.title == (selectedTab | default(entry.title)) %} selected{% endif %}"><a class="nonedec" href="{{ siteUrl }}{{ page.uri }}">{{ page.title }}</a></li>
                        {% endnav %}
                    </ul>
                </nav>
                <button class="pe-icon--btn dpx-4 dml-6" title="Search the component library">
                    <img src="/public/theme_assets/search-24.svg" alt=''>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
  </div>
