@import "../color-variables";
@import "../utilities";

.ds-layout-page {
    .ds-grid-borderL {
        border-left-width: 1px;
        border-left-style: solid; 
    }

    .ds-grid-borderR {
        border-right-width: 1px;
        border-right-style: solid;
    }

    .ds-grid-border {
        @extend .ds-grid-borderR;
        @extend .ds-grid-borderL;
    }

    .ds-gray-border {
       border-color: $pe-color-alto;
       height: 0; 
       opacity: 0.7;
       width: 100%;
    }

    .ds-screen2 {
        height: 835px !important;
        %gradientBorderBottom {
            border-image: linear-gradient(to bottom, $ds-purple, rgba(0, 0, 0, 0)) 1 100%;
        }

        @mixin gridBorder($n, $p, $h1, $h2) {
            .ds-layout-grid:nth-child(#{$n}) {
                opacity: $p;
                height: $h1;
                @extend %gradientBorderBottom;
                @if $h2 {
                    &>div {
                        height: $h2;
                        @extend %gradientBorderBottom;
                    }
                }
            }
        }

        @include gridBorder(1, 0.4, 40%, 20%);
        @include gridBorder(2, 0.6, 70%, 80%);
        @include gridBorder(11, 0.8, 80%, 90%);
        @include gridBorder(12, 0.6, 75%, 85%);

        @mixin gridPartBorder($n, $p, $h) {
            .ds-layout-grid:nth-child(#{$n}) {
                &>div:first-child {
                    height: $h;
                    opacity: $p;
                    @extend %gradientBorderBottom;
                }
            }
        }

        @include gridPartBorder(3, 0.8, 15%);
        @include gridPartBorder(6, 0.8, 10%);
        @include gridPartBorder(7, 0.8, 20%);
        // @include gridBorder(3, 1, 10%, false, false);
        // @include gridBorder(4, 1, 8%, false, false);
        // @include gridBorder(6, 15%, 80%, true);
        // @include gridBorder(7, 16%, 60%, true);
        // @include gridBorder(8, 20%, 80%, true);

        .ds-whsp-grid {
            box-sizing: border-box;
            display: grid;
            @mixin colSet($bp, $colSum, $col, $gap) {
                @media(min-width: $bp) {
                    grid-template-columns: repeat($colSum - 1, $col $gap) $col;
                }
            }
            @include colSet(319px, 4, 56px, 16px);
            @include colSet(367px, 4, 72px, 16px);
            @include colSet(447px, 4, 92px, 16px);
            @include colSet(591px, 8, 56px, 16px);
            @include colSet(727px, 8, 64px, 24px);
            @include colSet(887px, 12, 48px, 24px);
            @include colSet(983px, 12, 56px, 24px);
            @include colSet(1079px, 12, 64px, 24px);
            @include colSet(1175px, 12, 72px, 24px); 

            .ds-whsp-content { 
                @include colse(5, 20);
            }

            .ds-demo-rect {
                background-color: $pe-color-white-gray;
                border: 1px solid $pe-color-medium-gray;
            }

            .ds-whsp-rect {
                height: 376px;
                &:nth-child(2) {
                    @include colse(5, 11);
                }
                &:nth-child(3) {
                    @include colse(11, 14);
                }
                &:last-child {
                    @include colse(14, 20);
                }
            }
        }
    }
}

.ds-test {
    opacity: 0;
}