{% set invisible = invisible | default(false) %}
  
<div class="ds-ultimate-header position-fixed w-100 py-3 text-white{% if invisible %} invisible{% endif %}">
    <div class="ds-container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                {% if not invisible %}<span class="pe-title pe-bold">Design System</span>{% endif %}
            </div>
    
            {% if not invisible %}
            <div class="d-flex align-items-center">
                <nav class="mr-5">
                    <ul class="pe-list--unstyled list-inline mb-0">
                        {% nav page in craft.entries.section('designsysGroups').parent('groups') %}
                        <li class="pe-label--large list-inline-item"><a class="p-3 pb-1 nonedec{% if page.title == (entry.title | default('')) %} selected{% endif %}" href="{{ siteUrl }}{{ page.uri }}">{{ page.title }}</a></li>
                        {% endnav %}
                    </ul>
                </nav>
                    <button class="pe-icon--btn px-4 ml-5" title="Search the component library">
                        <span><svg role="img"
                            focusable="false"
                            aria-hidden="true"
                            class="pe-icon--search-sm-24">
                            <use xlink:href="#search-sm-24"></use>
                        </svg></span>
                    </button>
            </div>
            {% endif %}
        </div>
    </div>
  </div>

  