<div class="ds-bp-table bg-white smb-5">
    <h4 class="pe-title--small pe-bold dpb-2 dmb-2 border-bottom">
        <button class="w-100 d-flex justify-content-between bp-table-btn" aria-controls="{{ id }}" aria-expanded="true">{{ btn }}
            <svg role="img"
            focusable="false"
            aria-label="open"
            class="pe-icon--dropdown-close-sm-24">
            <use xlink:href="#dropdown-close-sm-24"></use>
            </svg>
        </button>
    </h4>
    <div class="panel" id="{{ id }}" aria-hidden="false">
        <table>
            <thead>
                <tr>
                    {% for item in tablehead %}
                    <th class="pe-label pe-label--secondary">{{ item.th }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in tablebody %}
                <tr>
                    <th class="pe-label--large p-1">{{ item.th }}<span class="pe-label--secondary">{{ item.thspan }}</span></th>
                    {% for it in item.cell %}
                    <td class="pe-label--large p-1 text-center">{{ it.td }}</td>
                    {% endfor %}
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>