<section class="ds-screen1 on-screen">
    <a class="ds-hidden-anchor dmb-7 dmt-0" href="#dsScreen2" id="dsScreen1">dsScreen1</a>
    <div class="ds-container h-100">
        <div class="ds-grid h-100">
            <div class="ds-layout-grid d-flex flex-column-reverse">
                <div class="ds-grid-border h-100">
                    <div class='ds-grid-fill1 h-100'></div>
                </div>
            </div>
            <div class="ds-layout-grid d-flex flex-column-reverse">
                <div class="ds-grid-border h-100">
                    <div class='ds-grid-fill2 h-100'></div>
                </div>
            </div>
            <div class="ds-layout-grid d-flex flex-column-reverse">
                <div class="ds-grid-border h-100">
                    <div class='ds-grid-fill3 h-100'></div>
                </div>
            </div>
            <div class="ds-layout-grid"><div class='ds-grid-fill4 h-100'></div></div>
            <div class="ds-layout-grid">
                    <div class="ds-grid-border h-100"><div class='ds-grid-fill5 h-100'></div>
                </div>
            </div>
            <div class="ds-layout-grid"><div class='ds-grid-fill6 h-100'></div></div>
            <div class="ds-layout-grid">
                <div class="ds-grid-border h-100">
                    <div class='ds-grid-fill7 h-100'></div>
                </div>
            </div>
            <div class="ds-layout-grid"><div class='ds-grid-fill8 h-100'></div></div>
            <div class="ds-layout-grid"><div class='ds-grid-fill9 h-100'></div></div>
            <div class="ds-layout-grid">
                <div class="ds-grid-border h-100">
                    <div class='ds-grid-fill10 h-100'></div>
                </div>
            </div>
            <div class="ds-layout-grid"><div class='ds-grid-fill11 h-100'></div></div>
            <div class="ds-layout-grid">
                <div class="ds-grid-border h-100">
                    <div class='ds-grid-fill12 h-100'></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ds-container ds-screen-cover">
        <div class="ds-grid position-fixed h-100">
            <div class="ds-main mx-auto text-center d-flex flex-column justify-content-center flex-align-center">
                {% include '_includes/designSys/shared/levelOne' with 
                    {'name': 'Layout',
                    'desc': 'The thoughtful arrangement of visuals and words that inspires users to seamlessly interact.'
                } %}
            </div>
        </div>
    </div>
</section>