<section class="ds-screen2 bg-white-gray w-100">
    <a class="ds-hidden-anchor" href="#dsScreen3" id="dsScreen2">dsScreen2</a>
    <div class="ds-container position-relative h-100">
        <div class="ds-grid h-100">
            <div class="ds-layout-grid ds-grid-borderR">
                <div class="ds-grid-borderL">
                </div>
            </div>
            <div class="ds-layout-grid ds-grid-borderL">
                <div class="ds-grid-borderR">
                </div>
            </div>
            <div class="ds-layout-grid ds-grid-border"></div>
            <div class="ds-layout-grid ds-grid-borderR"></div>
            <div class="ds-layout-grid d-flex flex-column justify-content-between">
                <div class="ds-grid-border"></div>
                <div class="ds-grid-borderL d-flex flex-column-reverse">
                    <div class="ds-grid-borderR"></div>
                </div>
            </div>
            <div class="ds-layout-grid ds-grid-borderL align-self-end d-flex flex-column-reverse">
                <div class="ds-grid-borderR"></div>
            </div>
            <div class="ds-layout-grid ds-grid-borderL align-self-end d-flex flex-column-reverse">
                <div class="ds-grid-borderR"></div>
            </div>
            <div class="ds-layout-grid ds-grid-borderR align-self-end d-flex flex-column-reverse">
                <div class="ds-grid-borderL"></div>
            </div>
            <div class="ds-layout-grid ds-grid-border"></div>
            <div class="ds-layout-grid ds-grid-border"></div>
        </div>
        <div class="ds-grid position-absolute">
            <div class="ds-main ds-main-content">
                {% include '_includes/designSys/shared/levelTwo' with 
                    {   'color': 'text-purple',
                        'name': 'Overview', 
                        'desc': 'The layout of your designs should always be aesthetically pleasing and open. A clean, simple, and spacious layout invites users in and makes it easy for them to take action.'
                } %}
            </div>
        </div>
    </div>
</section>