{% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'id': 'dsScreen2' } 
%}
<section class="ds-screen2 bg-white w-100 ds-layout">
    <div class="ds-container position-relative h-100">
        <div class="ds-grid h-100">
            <div class="ds-layout-grid ds-grid-borderR">
                <div class="ds-grid-borderL">
                </div>
            </div>
            <div class="ds-layout-grid ds-grid-borderL">
                <div class="ds-grid-borderR">
                </div>
            </div>
            <div class="ds-layout-grid ds-grid-border"></div>
            <div class="ds-layout-grid ds-grid-borderR"></div>
            <div class="ds-layout-grid d-flex flex-column justify-content-between">
                <div class="ds-grid-border"></div>
                <div class="ds-grid-borderL d-flex flex-column-reverse">
                    <div class="ds-grid-borderR"></div>
                </div>
            </div>
            <div class="ds-layout-grid ds-grid-borderL align-self-end d-flex flex-column-reverse">
                <div class="ds-grid-borderR"></div>
            </div>
            <div class="ds-layout-grid ds-grid-borderL align-self-end d-flex flex-column-reverse">
                <div class="ds-grid-borderR"></div>
            </div>
            <div class="ds-layout-grid ds-grid-borderR align-self-end d-flex flex-column-reverse">
                <div class="ds-grid-borderL"></div>
            </div>
            <div class="ds-layout-grid ds-grid-border"></div>
            <div class="ds-layout-grid ds-grid-border"></div>
        </div>
        <div class="ds-whsp-grid position-absolute h-100">
            <div class="ds-whsp-content ds-main-content">
                {% include '_includes/designSys/shared/levelTwo' with 
                    {   'color': 'text-purple',
                        'name': 'Overview', 
                        'desc': 'The layout of your designs should always be aesthetically pleasing and open. A clean, simple, and spacious layout invites users in and makes it easy for them to take action.'
                } %}
                {% include '_includes/designSys/shared/levelThree' with 
                    {'name': 'Whitespace', 
                    'desc': 'Let it breathe and keep it simple. Use whitespace to reduce friction and create focus.'
                } %}
            </div>
            <div class="ds-whsp-rect w-100 dpr-1">
                <div class="ds-demo-rect ds-whsp-rect1 w-100 h-100"></div>
            </div>
            <div class="d-flex flex-column w-100 ds-whsp-rect">
                <div class="ds-demo-rect ds-whsp-rect21 h-100 smb-1"></div>
                <div class="ds-demo-rect ds-whsp-rect22 h-100 smt-1"></div>
            </div>
            <div class="ds-whsp-rect w-100 dpl-1">
                <div class="ds-demo-rect ds-whsp-rect3 w-100 h-100"></div>
            </div>
        </div>
    </div>
</section>