<section class="ds-screen4 bg-white-gray w-100">
    <a class="ds-hidden-anchor" href="#dsScreen5" id="dsScreen4">dsScreen4</a>
    <div class="ds-container ds-grid">
        <div class="ds-main ds-main-content dmb-10">
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Grids', 
                'desc': 'A fixed grid is utilized in this design system, it relies on fluid margins to keep content unchanging within each breakpoint range'
            } %}
            <div class="w-100 dmt-6 dmb-8">
                <video class='w-100' controls autoplay muted loop>
                    <source src="/public/theme_assets/Fixed_grid_Fluid_margins.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>
<section class="ds-screen5 bg-white-gray w-100">
    <a class="ds-hidden-anchor" href="#dsScreen6" id="dsScreen5">dsScreen5</a>
    <div class="ds-container ds-grid">
        <div class="ds-main ds-main-content dmb-10">
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Breakpoints', 
                'desc': 'Breakpoints are the points at which your layout will respond when your design appears on different screen sizes.'
            } %}
            <div class="w-100 dmy-6">
                <video class='w-100' controls autoplay muted loop>
                    <source src="/public/theme_assets/Breakpoints_v2.mp4" type="video/mp4">
                </video>
            </div>
    {% include '_includes/designSys/atoms/tableAccordion' with 
    {'id': 'small4col', 
                'btn': 'Small: 4 columns',
                'tablehead': [{'th':'Screen size'}, {'th': 'Total width'}, {'th': 'Gutter size'},  {'th':'Column size'}],
                'tablebody': [
                    {
                        'th': 'Small phone ',
                        'thspan': '(max width: 367)',
                        'cell': [{'td': '320'}, {'td': '16'}, {'td': '56'}]
                    },
                    {
                        'th': 'Standard phone ',
                        'thspan': '(max width: 447)',
                        'cell': [{'td': '368'}, {'td': '16'}, {'td': '72'}]
                    },
                    {
                        'th': 'Large phone ',
                        'thspan': '(max width: 591)',
                        'cell': [{'td': '448'}, {'td': '16'}, {'td': '92'}]
                }]
        } 
    %}
    {% include '_includes/designSys/atoms/tableAccordion' with 
    {'id': 'med8col', 
            'btn': 'Medium: 8 columns',
            'tablehead': [{'th':'Screen size'}, {'th': 'Total width'}, {'th': 'Gutter size'},  {'th':'Column size'}],
            'tablebody': [
                    {
                        'th': 'Small tablet ',
                        'thspan': '(max width: 727)',
                        'cell': [{'td': '592'}, {'td': '16'}, {'td': '56'}]
                    },
                    {
                        'th': 'Standard tablet ',
                        'thspan': '(max width: 887)',
                        'cell': [{'td': '728'}, {'td': '16'}, {'td': '64'}]
                    }]
        }
    %}
    {% include '_includes/designSys/atoms/tableAccordion' with 
    {'id': 'lar12col', 
        'btn': 'Large: 12 columns',
        'tablehead': [{'th':'Screen size'}, {'th': 'Total width'}, {'th': 'Gutter size'},  {'th':'Column size'}],
        'tablebody': [
                {
                    'th': 'Large tablet ',
                    'thspan': '(max width: 983)',
                    'cell': [{'td': '888'}, {'td': '24'}, {'td': '48'}]
                },
                {
                    'th': 'Small desktop ',
                    'thspan': '(max width: 1079)',
                    'cell': [{'td': '984'}, {'td': '24'}, {'td': '56'}]
                }, {
                    'th': 'Small desktop ',
                    'thspan': '(max width: 1175)',
                    'cell': [{'td': '1080'}, {'td': '24'}, {'td': '64'}]
                }, {
                    'th': 'Large desktop ',
                    'thspan': '(max width: 1280)',
                    'cell': [{'td': '1176'}, {'td': '24'}, {'td': '72'}]
                }]
    }
    %}
        </div>
    </div>
</section>