{% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'id': 'dsScreen5' } 
%}
<section class="ds-screen5 bg-white w-100 ds-layout">
    <div class="ds-container ds-grid">
        <div class="ds-main ds-main-content dmb-10">
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Spacing', 
                'desc': 'To make user actions clear, provide just the right amount of space between UI elements.'
            } %}
            <div class='screen-following-content single level1'>
                {% include '_includes/designSys/shared/levelFour' with 
                    {'name': 'Default increments', 
                    'desc': 'Use <b>8 pixel</b> increments to create larger spatial differences when positioning components on a page.'
                } %}
            </div>
            <div class="d-flex justify-content-between align-items-end ds-spacing-demo8 dpb-6 dmb-6 border-bottom screen-following-content single level2">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="bg-pattern-grid dpy-4 text-center dmb-7 screen-following-content single level3">
                <img class="img-fluid" src="/public/theme_assets/spacing00.png"/>
            </div>
            <div class='ds-section1'>
                <a class="ds-hidden-anchor" href="#dsSection" id="dsSection61">dsSection61</a>
                <div class='section-following-content level1 single'>
                {% include '_includes/designSys/shared/levelFour' with 
                    {'name': 'Small space increments', 
                    'desc': 'Use <b>4 pixel</b> increments for smaller, more refined spacing situations, specifically within the context of a component'
                } %}
                </div>
                <div class="d-flex justify-content-center align-items-end ds-spacing-demo4 dpb-6 dmy-6 border-bottom section-following-content level2 single">
                    <div class='dmr-4'></div>
                    <div class='dmr-4'></div>
                    <div class='dmr-4'></div>
                    <div class='dmr-4'></div>
                    <div></div>
                </div>
                <div class="bg-pattern-grid dpy-4">
                    <div id="spaceIncrement"></div>
                </div>
            </div>
        </div>
    </div>
</section>