<section class="ds-screen6 ds-layout bg-white w-100 position-relative">
    <div class="ds-container ds-grid dpb-10">
        <div class="ds-main ds-main-content">
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Navigation', 
                'desc': 'A simple navigation structure reduces cognitive load and allows users to focus on completing tasks instead of navigating. When considering navigation, think about how to move users through a sequence of tasks with the goal of one task per screen.'
            } %}
            <div class="screen-following-content single level1">
                <div class='dpt-6'>
                    <img class="dmr-1 align-middle" src="/public/theme_assets/right.svg"/><span class='ds-dd-label'>Do</span>
                    <p class="pe-label dmb-0 dpt-2 dmt-2 border-top">Keeping the primary navigation simple, use the main content area to help users focus on their essential task. </p>
                </div>
            </div>
            <div class="d-flex justify-content-between dmt-6 screen-following-content level2 multi">
                <figure class='part1'>
                    <figcaption class="pe-label--secondary pe-label text-center dmb-2">Parent</figcaption>
                    <img class='img-fluid' src="/public/theme_assets/navigationparent00.svg"/>
                </figure>
                <img src="/public/theme_assets/rightarrow.svg"/>
                <figure class='part2'>
                    <figcaption class="pe-label--secondary pe-label text-center dmb-2">Child</figcaption>
                    <img class='img-fluid' src="/public/theme_assets/navigationchild00.svg"/> 
                </figure>
            </div>
            <div class='ds-section1'>
                <a class="ds-hidden-anchor" href="#dsSection62" id="dsSection61">dsSection61</a>
                <div class="d-flex justify-content-between dmt-5 section-following-content level1 multi"> 
                    <figure class='part1'>
                        <figcaption class="pe-label--secondary pe-label text-center dmb-2">Parent</figcaption>
                        <img class='img-fluid' src="/public/theme_assets/navigationparent01.svg"/>
                    </figure>
                    <img src="/public/theme_assets/rightarrow.svg"/>
                    <figure class='part2'>
                        <figcaption class="pe-label--secondary pe-label text-center dmb-2">Child</figcaption>
                        <img class='img-fluid' src="/public/theme_assets/navigationchild01.svg"/>
                    </figure>
                </div>
            </div>
            <div class='ds-section2'>
                <a class="ds-hidden-anchor" href="#dsSection63" id="dsSection62">dsSection62</a>
                <div class="dmy-6 section-following-content level1 multi">
                    <p id='mobileopti' class="pe-label--secondary pe-label text-center dmb-2">Mobile optimization</p>
                    <div class='d-flex justify-content-between '>
                        <img aria-labelledby='mobileopti' class='part1 img-fluid' src="/public/theme_assets/navigationsmall00.svg"/>
                        <img aria-labelledby='mobileopti' class='part2 img-fluid' src="/public/theme_assets/navigationsmall01.svg"/>
                        <img aria-labelledby='mobileopti' class='part3 img-fluid' src="/public/theme_assets/navigationsmall02.svg"/>
                        <img aria-labelledby='mobileopti' class='part4 img-fluid' src="/public/theme_assets/navigationsmall03.svg"/>
                    </div>
                </div>
            </div>
            <div class='ds-section3'>
                <a class="ds-hidden-anchor" href="#dsSection6" id="dsSection63">dsSection63</a>
                <div class="dmb-6 section-following-content single level1">
                    <img class="dmr-1 align-middle" src="/public/theme_assets/wrong.svg"/><span class='ds-dd-label'>Don't</span>
                    <p class="pe-label dmb-0 dpt-2 dmt-2 border-top">Avoid creating multiple layers of navigation. Too many layers can make the experience crowded and confusing, especially on mobile devices.</p>
                </div>
                <div class="d-flex justify-content-center section-following-content level2 multi">
                    <img class='part1 img-fluid smr-7' src="/public/theme_assets/navigationbaddesktop.svg"/>
                    <img class='part2 img-fluid sml-7' src="/public/theme_assets/navigationbadmobile.svg"/>
                </div>
            </div>
        </div>
    </div>
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'later-anchors', 'id': 'dsScreen7' } 
    %}
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'menu-anchors', 'id': 'dsMenuScreen7' } 
    %}
</section>