<div class="ds-screen8 ds-layout bg-white w-100">
    <a class="ds-hidden-anchor" href="#dsScreen9" id="dsScreen8">dsScreen8</a>
    <div class="ds-container ds-grid">
        <div class='ds-main ds-main-content'>
            {% include '_includes/designSys/shared/levelTwo' with 
                {
                    'color': 'text-purple',
                    'name': 'Structure', 
                    'desc': 'To provide a uniform user experience across products, we use page frames to form the outermost layer of the page structure.'
            } %}
            <div class='dmy-6 d-flex'>
                <div class='d-flex flex-column dmr-2'>
                    <div class='h-25 d-flex align-items-center justify-content-end'>
                        <img class='tag1' src="/public/theme_assets/structure-pf.svg"/>
                    </div>
                    <div class='h-75 d-flex align-items-center justify-content-end'>
                        <img class='tag2' src="/public/theme_assets/structure-ca.svg"/>
                    </div>
                </div>
                <img src="/public/theme_assets/structure.svg"/>
            </div>
        </div>
    </div>
</div>
<div class="ds-screen9 bg-white-gray w-100">
    <a class="ds-hidden-anchor" href="#dsScreen10" id="dsScreen9">dsScreen9</a>
    <div class="ds-container ds-grid">
        <div class='ds-main ds-main-content'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Primary page frame', 
                'desc': 'Use a basic page frame when you want to display the root or top-level page.'
            } %}
            <ol class='pe-label--large pe-list pe-styled-lists--ordered'>
                <li>Global header</li>
                <li>Product identifier (title)</li>
                <li>Primary navigation</li>
            </ol>
            <div class='dmy-6'>
                <img src="/public/theme_assets/primarypf.svg"/>
            </div>
        </div>
    </div>
</div>
<div class="ds-screen10 bg-white-gray w-100">
    <a class="ds-hidden-anchor" href="#dsScreen11" id="dsScreen10">dsScreen10</a>
    <div class="ds-container ds-grid">
        <div class='ds-main ds-main-content'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Secondary page frame', 
                'desc': 'Use a secondary page frame when you can’t fit all of your content on the primary page. The secondary page frame has a back button to convey it is a branch of the primary page.'
            } %}
            <div class='dmy-6'>
                <img src="/public/theme_assets/secondarypf.svg"/>
            </div>
        </div>
    </div>
</div>
<div class="ds-screen11 bg-white-gray w-100">
    <a class="ds-hidden-anchor" href="#dsScreen12" id="dsScreen11">dsScreen11</a>
    <div class="ds-container ds-grid">
        <div class='ds-main ds-main-content'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Modal page frames', 
                'desc': 'Use a modal page frame when you want to create a floating page that can be accessed from several locations or when you need to create a page with minimal distractions.'
            } %}
            <div class='dmy-6'>
                <img src="/public/theme_assets/modalpf.svg"/>
            </div>
        </div>
    </div>
</div>
