<section class="ds-layout bg-white w-100 position-relative">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid">
        <div class='ds-main ds-transition-content dmb-10' id='dsTransitScreen5'>
            {% include '_includes/designSys/shared/levelTwo' with 
                {
                    'name': 'dsMenuScreen6',
                    'title': 'Structure', 
                    'desc': 'To provide a uniform user experience across products, we use page frames to form the outermost layer of the page structure.'
            } %}
            <div class='dmb-6 ds-transition-content position-relative' id='dsTransitSection18'>
                {% include '_includes/designSys/atoms/hiddenAchor' with 
                    { 'class': 'ds-transition-section ds-animation-trigger' } 
                %}
                <div class='d-flex dpt-6'>
                    <div class='d-flex flex-column dmr-2'>
                        <div class='h-25 d-flex align-items-center justify-content-end'>
                            <img class='ds-structure-tag1' src="/public/theme_assets/structure-pf.svg"/>
                        </div>
                        <div class='h-75 d-flex align-items-center justify-content-end'>
                            <img class='ds-structure-tag2' src="/public/theme_assets/structure-ca.svg"/>
                        </div>
                    </div>
                    <img class='img-fluid' src="/public/theme_assets/structure.svg"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white-gray w-100 position-relative">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid">
        <div class='ds-main ds-transition-content' id='dsTransitScreen6'>
            {% include '_includes/designSys/shared/levelThree' with 
                {
                    'name': 'dsMenuScreen7',
                    'title': 'Primary page frame', 
                    'desc': 'Use a primary page frame when you want to display the root or top-level page.'
                } %}
            <ol class='pe-label--large pe-list pe-styled-lists--ordered'>
                <li>Global header</li>
                <li>Product identifier (title)</li>
                <li>Primary navigation</li>
            </ol>
            <div class='dmb-6 ds-transition-content position-relative' id='dsTransitSection19'>
                {% include '_includes/designSys/atoms/hiddenAchor' with 
                    { 'class': 'ds-transition-section' } 
                %}
                <div class='dpt-6'>
                    <img class='img-fluid' src="/public/theme_assets/primarypf.png"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white-gray w-100 position-relative">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' }
    %}
    <div class="ds-container ds-grid">
        <div class='ds-main ds-transition-content' id='dsTransitScreen7'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'dsMenuScreen8',
                'title': 'Secondary page frame', 
                'desc': "Use a secondary page frame when you can't fit all of your content on the primary page. The secondary page frame has a back button to convey that it's a branch of the primary page."
            } %}
            <div class='dmb-6 ds-transition-content position-relative' id='dsTransitSection20'>
                {% include '_includes/designSys/atoms/hiddenAchor' with 
                    { 'class': 'ds-transition-section' }
                %}
                <div class='dpt-6'>
                    <img class='img-fluid' src="/public/theme_assets/secondarypf.svg"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white-gray w-100 position-relative">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' }
    %}
    <div class="ds-container ds-grid">
        <div class='ds-main ds-transition-content' id='dsTransitScreen8'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'dsMenuScreen9',
                'title': 'Modal page frames', 
                'desc': 'Use a modal page frame when you want to create a floating page that can be accessed from several locations or when you need to create a page with minimal distractions.'
            } %}
            <div class='dmb-6 ds-transition-content position-relative' id='dsTransitSection21'>
                {% include '_includes/designSys/atoms/hiddenAchor' with 
                    { 'class': 'ds-transition-section' }
                %}
                <div class='dpt-6'>
                    <img src="/public/theme_assets/modalpf.svg"/>
                </div>
            </div>
        </div>
    </div>
</section>
