{% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'id': 'dsScreen7' } 
%}
<section class="ds-screen7 ds-layout bg-white w-100">
    <div class="ds-container ds-grid">
        <div class='ds-main ds-main-content dmb-10'>
            {% include '_includes/designSys/shared/levelTwo' with 
                {
                    'color': 'text-purple',
                    'name': 'Structure', 
                    'desc': 'To provide a uniform user experience across products, we use page frames to form the outermost layer of the page structure.'
            } %}
            <div class='dmb-6 d-flex screen-following-content single level1'>
                <div class='d-flex flex-column dmr-2'>
                    <div class='h-25 d-flex align-items-center justify-content-end'>
                        <img class='tag1' src="/public/theme_assets/structure-pf.svg"/>
                    </div>
                    <div class='h-75 d-flex align-items-center justify-content-end'>
                        <img class='tag2' src="/public/theme_assets/structure-ca.svg"/>
                    </div>
                </div>
                <img src="/public/theme_assets/structure.svg"/>
            </div>
        </div>
    </div>
</section>
{% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'id': 'dsScreen8' } 
%}
<section class="ds-screen8 bg-white-gray w-100">
    <div class="ds-container ds-grid">
        <div class='ds-main ds-main-content'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Primary page frame', 
                'desc': 'Use a basic page frame when you want to display the root or top-level page.'
            } %}
            <ol class='pe-label--large pe-list pe-styled-lists--ordered'>
                <li>Global header</li>
                <li>Product identifier (title)</li>
                <li>Primary navigation</li>
            </ol>
            <div class='dmb-6 screen-following-content single level1'>
                <img src="/public/theme_assets/primarypf.svg"/>
            </div>
        </div>
    </div>
</section>
{% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'id': 'dsScreen9' } 
%}
<section class="ds-screen9 bg-white-gray w-100">
    <div class="ds-container ds-grid">
        <div class='ds-main ds-main-content'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Secondary page frame', 
                'desc': 'Use a secondary page frame when you can’t fit all of your content on the primary page. The secondary page frame has a back button to convey it is a branch of the primary page.'
            } %}
            <div class='dmb-6 screen-following-content single level1'>
                <img src="/public/theme_assets/secondarypf.svg"/>
            </div>
        </div>
    </div>
</section>
{% include '_includes/designSys/atoms/hiddenAchor' with 
    { 'id': 'dsScreen10' } 
%}
<section class="ds-screen10 bg-white-gray w-100">
    <div class="ds-container ds-grid">
        <div class='ds-main ds-main-content'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Modal page frames', 
                'desc': 'Use a modal page frame when you want to create a floating page that can be accessed from several locations or when you need to create a page with minimal distractions.'
            } %}
            <div class='dmb-6 screen-following-content single level1'>
                <img src="/public/theme_assets/modalpf.svg"/>
            </div>
        </div>
    </div>
</section>
