<section class="bg-white-gray w-100 position-relative">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' }
    %}
    <div class="ds-container ds-grid">
        <div class='ds-main ds-transition-content' id='dsTransitScreen9'>
            {% include '_includes/designSys/shared/levelTwo' with 
                {   'name': 'dsMenuScreen10',
                    'title': 'Patterns', 
                    'desc': "After choosing the page frame, you're ready to create the layout pattern in the content area. To get started, you can use one of the standard layout patterns for the content area. The layout pattern you select depends on what kind of hierarchy is needed (or not needed) in the user task."
            } %}
        </div>
    </div>
</section>
<section class="bg-white-gray w-100 position-relative">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' }
    %}
    <div class="ds-container ds-grid">
        <div class='ds-main ds-transition-content' id='dsTransitScreen10'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'dsMenuScreen11',
                'title': 'Single column', 
                'desc': 'A narrow single column creates one centralized block that can be effective for focusing users on a single action. The hierarchy in this pattern is typically sequential, from top to bottom.'
            } %}
            <div class='d-flex justify-content-between dmy-6'>
                <div class="ds-transition-content position-relative" id='dsTransitSection22'>
                    {% include '_includes/designSys/atoms/hiddenAchor' with 
                        { 'class': 'ds-transition-section' } 
                    %}
                    <img class='img-fluid' src="/public/theme_assets/singleCol00.svg"/>
                </div>
                <div class="ds-transition-content position-relative" id='dsTransitSection23'>
                    {% include '_includes/designSys/atoms/hiddenAchor' with 
                        { 'class': 'ds-transition-section-delay' } 
                    %}
                    <img class='img-fluid' src="/public/theme_assets/singleCol01.svg"/>
                </div>
                <div class="ds-transition-content position-relative" id='dsTransitSection24'>
                    {% include '_includes/designSys/atoms/hiddenAchor' with 
                        { 'class': 'ds-transition-section-ddelay' } 
                    %}
                    <img class='img-fluid' src="/public/theme_assets/singleCol02.svg"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white-gray w-100 position-relative">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid">
        <div class='ds-main ds-transition-content' id='dsTransitScreen11'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'dsMenuScreen12',
                'title': 'Multiple column', 
                'desc': 'A multiple column pattern groups columns into blocks and uses gutters and spacing to separate those blocks. This pattern can be effective for presenting multiple views on a single page. The hierarchy can be conveyed by block size, block placement, or other visual enhancements.'
            } %}
            <div class='d-flex justify-content-center dmt-6'>
                <div class="ds-transition-content position-relative dmr-3" id='dsTransitSection25'>
                    {% include '_includes/designSys/atoms/hiddenAchor' with 
                        { 'class': 'ds-transition-section' } 
                    %}
                    <img class='img-fluid' src="/public/theme_assets/multiCol00.svg"/>
                </div>
                <div class="ds-transition-content position-relative dml-3" id='dsTransitSection26'>
                    {% include '_includes/designSys/atoms/hiddenAchor' with 
                        { 'class': 'ds-transition-section-delay' } 
                    %}
                    <img class='img-fluid' src="/public/theme_assets/multiCol01.svg"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="h-100vh bg-white-gray w-100 position-relative">
    {% include '_includes/designSys/atoms/hiddenAchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid">
        <div class='ds-main ds-transition-content' id='dsTransitScreen12'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'dsMenuScreen13',
                'title': 'Modular', 
                'desc': 'A modular pattern subdivides a page both vertically and horizontally into a grid of modules. This can be effective when you need to display many, equally-weighted items at once.'
            } %}
            <div class='d-flex justify-content-center dmy-6'>
                <div class="ds-transition-content position-relative dml-3" id='dsTransitSection27'>
                    {% include '_includes/designSys/atoms/hiddenAchor' with 
                        { 'class': 'ds-transition-section' } 
                    %}
                    <img class='img-fluid' src="/public/theme_assets/modular00.svg"/>
                </div>
                <div class="ds-transition-content position-relative dml-3" id='dsTransitSection28'>
                    {% include '_includes/designSys/atoms/hiddenAchor' with 
                        { 'class': 'ds-transition-section-delay' } 
                    %}
                    <img class='img-fluid' src="/public/theme_assets/modular01.svg"/>
                </div>
            </div>
        </div>
    </div>
</section>