<div class="ds-layout-screen5 w-100 d-none">
    <div class="ds-container ds-grid">
        <div class="ds-center-main">
            <h3 class="pe-title--large pe-bold mb-4">Breakpoints</h3>
            <p class="pe-title mb-4">Breakpoints are the points at which your layout will respond when your design appears on different screen sizes. Use standard breakpoints to ensure a great responsive design.</p>
            <img class="img-center mt-5" src="/public/theme_assets/devices.svg"/>
            <div class="ds-bp-table mt-5">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th class="pe-label pe-label--secondary">Min</th>
                            <th class="pe-label pe-label--secondary">Max</th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-bottom">
                            <th class="pe-title">Extra small</th>
                            <td class="pe-title--small">320px</td>
                            <td class="pe-title--small">480px</td>
                            </th>
                        </tr>
                        <tr class="border-bottom">
                            <th class="pe-title">Small</th>
                            <td class="pe-title--small">480px</td>
                            <td class="pe-title--small">768px</td>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>