<div class="ds-layout-screen1 on-screen">
    <div class="ds-container h-100">
        <div class="ds-grid h-100">
            <div class="ds-layout-grid d-flex flex-column-reverse">
                <div class="ds-grid-border d-flex flex-column-reverse">
                </div>
            </div>
            <div class="ds-layout-grid d-flex flex-column-reverse">
                <div class="ds-grid-border d-flex flex-column-reverse">
                </div>
            </div>
            <div class="ds-layout-grid d-flex flex-column-reverse"><div class="ds-grid-border"></div></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"><div class="ds-grid-border"></div></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"><div class="ds-grid-border"></div></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"><div class="ds-grid-border"></div></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"><div class="ds-grid-border"></div></div>
        </div>
    </div>
    <div class="ds-container ds-layout-cover">
        <div class="ds-grid position-fixed h-100">
            <div class="ds-center-main mx-auto text-center d-flex flex-column justify-content-center flex-align-center">
                <h1 class="font-pd ds-group-title pe-bold text-white dmb-6"><i>Layout</i></h1>
                <p class="pe-title--large text-white">The thoughtful arrangement of visuals and words that inspires users to seamlessly interact.</p>
            </div>
            <div class="ds-col-all text-right">
                <a href="###" class="text-white">Feedback</a>
            </div>
        </div>
    </div>
</div>