<div class="ds-layout-screen4 w-100 d-none">
    <div class="ds-container position-relative h-100">
        <div class="ds-grid h-100">
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
            <div class="ds-layout-grid"></div>
        </div>
        <div class="ds-grid position-absolute">
            <div class="ds-center-main">
                <h3 class="pe-title--large pe-bold text-white mb-4">Grid / Structure</h3>
                <p class="pe-title text-white pr-3">Stay in the lines. Using grids gives your designs a uniform shape and structure and keeps everything within the same margins. Grids also help you arrange the hierarchy, keep everything aligned, and create consistent patterns.</p>
            </div> 
            <div class="ds-demo-rect ds-rect1 h-100"></div>
            <div class="d-flex flex-column"><div class="ds-demo-rect ds-rect21 h-100"></div><div class="mt-4 ds-demo-rect ds-rect22 h-100"></div></div>
            <div class="ds-demo-rect ds-rect3 h-100"></div>
        </div>
    </div>
</div>