<div class="ds-layout-screen4 w-100 d-none">
    <div class="ds-container ds-grid">
        <div class="ds-center-main">
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Grid / Structure', 
                'desc': 'Stay in the lines. Using grids gives your designs a uniform shape and structure and keeps everything within the same margins. Grids also help you arrange the hierarchy, keep everything aligned, and create consistent patterns.'
            } %}
            <div class="dmt-6 dmt-8">
            </div>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'Breakpoints', 
                'desc': 'Stay in the lines. Using grids gives your designs a uniform shape and structure and keeps everything within the same margins. Grids also help you arrange the hierarchy, keep everything aligned, and create consistent patterns.'
            } %}
            <img class="img-center dmt-6" src="/public/theme_assets/devices.svg"/>
            {% include '_includes/designSys/shared/tableAccordion' with 
                {'id': 'small4col', 
                'btn': 'Small: 4 columns',
                'tablehead': [{'th':'Screen size'},{'th': 'Gutter size'}, {'th':'Column size'}],
                'tablebody': [
                    {
                        'th': 'Kindle 7 (600 x 800)',
                        'td1': '16',
                        'td2': '56'
                    },
                    {
                        'th': 'iPad Portrait (768 x 1024)',
                        'td1': '24',
                        'td2': '64'
                }]
            } %}
        </div>
    </div>
</div>