<div class="ds-layout-screen6 position-relative bg-white w-100 d-none">
    <div class="ds-container ds-grid">
        <div class="ds-center-main">
            <h3 class="pe-title--large pe-bold dmb-3">Navigation</h3>
            <p class="pe-title dmb-3">A simple navigation structure reduces cognitive load and allows users to focus on completing tasks instead of navigating. To provide a consistent way for users to move into and around Pearson products, we’ve devised three page frames that have the primary navigation built in.</p>
            <div class="d-flex">
                <img src="/public/theme_assets/wrong.svg"/>
                <p class="pe-title--small mb-4">Avoid creating multiple layers of navigation, it does not make for a good mobile experience.</p>
            </div>
            <div class="d-flex justify-content-between">
                <img src="/public/theme_assets/navigationbaddesktop.svg"/>
                <img src="/public/theme_assets/navigationbadmobile.svg"/>
            </div>
            <div class="d-flex">
                <img src="/public/theme_assets/right.svg"/>
                <p class="pe-title--small dmb-3">Simplify and leverage the primary content area to place relational actions and utilize secondary frames to present users requested content (task driven). This keeps the user focused and in context to their primary task.</p>
            </div>
            <div class="d-flex justify-content-between">
                <img src="/public/theme_assets/navigationparent00.svg"/>
                <img src="/public/theme_assets/rightarrow.svg"/>
                <img src="/public/theme_assets/navigationchild00.svg"/> 
            </div>
            <div class="d-flex justify-content-between">
                <img src="/public/theme_assets/navigationparent01.svg"/>
                <img src="/public/theme_assets/rightarrow.svg"/>
                <img src="/public/theme_assets/navigationchild01.svg"/>
            </div>
            <p class="pe-title--small dmb-3">Simple and small screen optimized.</p>
            <div class="d-flex justify-content-between">
                <img src="/public/theme_assets/navigationsmall00.svg"/>
                <img src="/public/theme_assets/navigationsmall01.svg"/>
                <img src="/public/theme_assets/navigationsmall02.svg"/>
            </div>
        </div>
    </div>
</div>