<div class="ds-layout-screen2 w-100 d-none">
    <div class="ds-container position-relative h-100">
        <div class="ds-grid h-100">
            <div class="ds-layout-grid ds-grid-borderR">
                <div class="ds-grid-borderL">
                </div>
            </div>
            <div class="ds-layout-grid ds-grid-borderL">
                <div class="ds-grid-borderR">
                </div>
            </div>
            <div class="ds-layout-grid ds-grid-border"></div>
            <div class="ds-layout-grid ds-grid-borderR"></div>
            <div class="ds-layout-grid d-flex flex-column justify-content-between">
                <div class="ds-grid-border"></div>
                <div class="ds-grid-borderL d-flex flex-column-reverse">
                    <div class="ds-grid-borderR"></div>
                </div>
            </div>
            <div class="ds-layout-grid ds-grid-borderL align-self-end d-flex flex-column-reverse">
                <div class="ds-grid-borderR"></div>
            </div>
            <div class="ds-layout-grid ds-grid-borderL align-self-end d-flex flex-column-reverse">
                <div class="ds-grid-borderR"></div>
            </div>
            <div class="ds-layout-grid ds-grid-borderR align-self-end d-flex flex-column-reverse">
                <div class="ds-grid-borderL"></div>
            </div>
            <div class="ds-layout-grid ds-grid-border"></div>
            <div class="ds-layout-grid ds-grid-border"></div>
        </div>
        <div class="ds-grid position-absolute">
            <div class="ds-center-main">
                <h2 class="font-pd ds-section-title mb-4">Overview</h2>
                <p class="pe-title">The layout of your designs should always be aesthetically pleasing and open. A clean, simple, and spacious layout invites users in and makes it easy for them to take action.</p>
            </div>
        </div>
    </div>
</div>