<div class="ds-layout-screen5 position-relative bg-white w-100 d-none">
    <div class="ds-container ds-grid">
        <div class="ds-center-main">
            <h3 class="pe-title--large pe-bold dmb-3">Spacing</h3>
            <p class="pe-title mb-4">How much personal space do you need? Your UI elements need space too. Too much crowding is upsetting and confusing. To provide enough breathing space and to convey relationships between UI elements, you can use either small-scale or large-scale spacing in your designs.</p>
            <p class="pe-title mb-4">Default spacing: <span class="pe-bold">8 px increments</span></p>
            <div class="d-flex justify-content-between align-items-end ds-spacing-demo8 dpb-6 dmb-6 border-bottom">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <p class="pe-title mb-4">Small scale: <span class="pe-bold">4 px increments</span></p>
            <div class="d-flex justify-content-between align-items-end ds-spacing-demo4 dpb-6 dmb-6 border-bottom">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
        </div>
    </div>
</div>