<div class="ds-layout-screen5 bg-white w-100">
    <a class="ds-hidden-anchor" href="#layoutScreen6" id="layoutScreen5" aria-hidden="true" tabindex="-1">layoutScreen5</a>
    <div class="ds-container ds-grid">
        <div class="ds-center-main">
            <h3 class="pe-title--large pe-bold dmb-3">Spacing</h3>
            <p class="pe-title mb-4">To make user actions clear, provide just the right amount of space between UI elements.</p>
            <p class="pe-title mb-4">Default spacing: <span class="pe-bold">8 px increments</span></p>
            <div class="d-flex justify-content-between align-items-end ds-spacing-demo8 dpb-6 dmb-6 border-bottom">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="ds-spacing-demobg dpy-4 text-center dmb-7">
                <img class="img-fluid" src="/public/theme_assets/spacing00.png"/>
            </div>
            <p class="pe-title mb-4">Small scale: <span class="pe-bold">4 px increments</span></p>
            <div class="d-flex justify-content-between align-items-end ds-spacing-demo4 dpb-6 dmb-6 border-bottom">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="ds-spacing-demobg dpy-4 text-center">
                <img class="img-fluid" src="/public/theme_assets/spacing01.png"/>
            </div>
        </div>
    </div>
</div>