<div class="ds-layout-screen3 bg-white w-100 d-none">
    <div class="ds-container position-relative h-100">
        <div class="ds-grid h-100">
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
            <div class="ds-layout-grid mt-auto"></div>
        </div>
        <div class="ds-whsp-grid position-absolute h-100">
            <div class="ds-whsp-content">
                <div>
                    {% include '_includes/designSys/shared/levelThree' with 
                        {'name': 'Whitespace', 
                        'desc': 'Let it breathe and keep it simple. Keep the interface uncluttered, and use whitespace to help users focus.'
                    } %}
                </div>
            </div> 
            <div class="ds-whsp-rect w-100">
                <div class="ds-demo-rect ds-whsp-rect1 w-100 h-100 dmr-1"></div>
            </div>
            <div class="d-flex flex-column w-100 ds-whsp-rect">
                <div class="ds-demo-rect ds-whsp-rect21 h-100 smb-1"></div>
                <div class="ds-demo-rect ds-whsp-rect22 h-100 smt-1"></div>
            </div>
            <div class="ds-whsp-rect w-100">
                <div class="ds-demo-rect ds-whsp-rect3 w-100 h-100 dml-1"></div>
            </div>
        </div>
    </div>
</div>