{% extends "_default" %}

{% set pageTitle = "Test" %}

{% do view.registerCssFile("https://fonts.googleapis.com/css?family=Playfair+Display:700") %}

{% block sidebar %}
{% endblock %}

{% block content %}

{% set selectedTab = "Components" %}
{% include "_includes/designSys/shared/designsysHeader.html" %}

<script type="text/javascript">
  var iconFiles = {}
</script>

<div class="ds">
  <div class="intro">
    <h1>{{ entry.title }}</h1>
    <div>
      {{ entry.introduction }}
    </div>
  </div>

  {% set children = entry.children.all() %}
  {% if children | length > 0 %}
    <div class="tabs-wrapper">
      <div class="tabs">
        <div class="tab active" data-value={{ entry.tabName }}>
          <span>{{ entry.tabName }}</span>
        </div>
        {% for child in children %}
          <div class="tab" data-value="{{ child.tabName }}">
            <span>{{ child.tabName }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% set icons = [] %}
  <div data-tab="{{ entry.tabName }}" class="tab-content active">
    {% for chunk in entry.dsComponentContent.all() %}
      {% include '_includes/chunks/' ~ chunk.type %}
      {% if chunk.type == 'icon' %}
        {% set icons = icons | merge([chunk]) %}
      {% endif %}
    {% endfor %}
  </div>

  {% for child in children %}
  <div data-tab="{{ child.tabName }}" class="tab-content">
    {% for chunk in child.dsComponentContent.all() %}
      {% include '_includes/chunks/' ~ chunk.type %}
    {% endfor %}
  </div>
  {% endfor %}

  {% set iconsByCategory = icons | iconsGroupByCategory %}
  <div class="chunk">
    <div class="ds-icons">
      <div class="icons">
        {% for category, icons in iconsByCategory %}
          <h3>{{ category }}</h3>
          {% for icon in icons %}
            <div class="icon">
              <img src="{{ icon.iconAssets[0].url }}" alt="">
              <p>{{ icon.iconName }}</p>

              <template>
                <div class="icon-detail">
                  <button type="button" class="pe-icon--btn close">
                    <svg role="img"
                         aria-labelledby="r2"
                         focusable="false"
                         class="pe-icon--remove-sm-18">
                      <title id="r2">Close dialog</title>
                      <use xlink:href="#remove-sm-18"></use>
                    </svg>
                  </button>
                  <h3>{{ icon.iconName }}</h3>
                  <div class="description">
                    {{ icon.iconDescription }}
                  </div>

                  <div class="illustrations">
                    <div class="sizes">
                      {% for size in icon.iconAssets %}
                        <div class="size">
                          <img src="{{ size.url }}" alt="">
                          <span>{{ size.iconSize }} px</span>
                        </div>
                      {% endfor %}
                    </div>

                    <div class="hint-box">
                      <img src="{{icon.iconAssets[0].url }}" alt="">
                      <div class="hint">{{ icon.suggestedHintText }}</div>
                    </div>
                  </div>

                  <div class="download">
                    <script type="text/javascript">
                      {
                        var files = [
                          {% for asset in icon.iconAssets %}
                            ["{{ asset.title }}", "{{ asset.url }}"],
                          {% endfor %}
                        ]
                        iconFiles["{{ icon.iconName }}"] = files
                      }
                    </script>
                    <button type="button" name="download" data-iconName="{{ icon.iconName }}" class="download-btn">Download</button>
                  </div>
                </div>

                <script type="text/javascript">
                  var img = document.querySelector('.icon-detail .hint-box img')
                  var svgUrl = img.src

                  fetch(svgUrl)
                    .then(function(res) {
                      return res.text()
                    })
                    .then(function(text) {
                      var parser = new DOMParser()
                      var xmlDoc = parser.parseFromString(text, "text/xml")
                      var svg = xmlDoc.getElementsByTagName('svg')[0]

                      svg.removeAttribute('xmlns:a');

                      // Replace image with new SVG
                      img.parentNode.replaceChild(svg, img);
                    })
                </script>
              </template>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// function for downloading multiple icon files with a single button.
var downloadAll = function(files) {
  if (files.length === 0) return

  var file = files.pop()
  var anchor = document.createElement('a')
  anchor.setAttribute('href', file[1])
  anchor.setAttribute('download', file[0])
  document.body.appendChild(anchor)

  anchor.click()
  anchor.remove()

  downloadAll(files)
}

// function for clearing icon detail panels
var removeAllDetails = function() {
  document.querySelectorAll('.icon-detail').forEach(function(el){
    el.remove()
  })
  document.querySelectorAll('.icon.selected').forEach(function(el) {
    el.classList.remove('selected')
  })
}

// function for showing individual icon detail panels
var showThisDetail = function(el) {
  el.classList.add('selected')
  var rowWidth = document
    .querySelector('.icons')
    .getBoundingClientRect()
    .width
  var iconWidth = el.getBoundingClientRect().width +
                  (parseInt(window.getComputedStyle(el).marginLeft) * 2)

  var numIcons = el.parentNode.children
  var iconsPerRow = Math.floor(rowWidth / iconWidth)
  var thisIndex = Array.from(el.parentNode.children).indexOf(el)

  var targetRow = Math.floor(thisIndex / iconsPerRow) + 1 // 1 indexed
  var naiveTargetIndex = targetRow * iconsPerRow
  var targetIndex = naiveTargetIndex > numIcons ? numIcons : naiveTargetIndex

  var icons = el.parentNode
  var detail = document.importNode(el.querySelector('template').content, true)
  icons.insertBefore(detail, icons.children[targetIndex + 1])

  document
    .querySelector('.icon-detail .close')
    .addEventListener('click', removeAllDetails)

  document
    .querySelector('button.download-btn')
    .addEventListener('click', function(e) {
      downloadAll(iconFiles[this.dataset.iconname])
    })
}

// add listeners for icon detail display
document.querySelectorAll('.icon').forEach(function(ic) {
  ic.addEventListener('click', function(e) {
    removeAllDetails()
    showThisDetail(ic)
  })
})

var activateTab = function(tab) {
  document.querySelectorAll('.tab.active').forEach(function(tab) {
    tab.classList.remove('active')
  })
  tab.classList.add('active')

  document.querySelectorAll('.tab-content.active').forEach(function(tc) {
    tc.classList.remove('active')
  })
  document
    .querySelector('[data-tab="' + tab.dataset.value +'"]')
    .classList.add('active')
}

document.querySelectorAll('.tab').forEach(function(tab) {
  tab.addEventListener('click', function(e) {
    activateTab(tab)
  })
})
</script>
{% endblock %}
