{% if loop.first or entry.dsComponentContent[loop.index0-1].type != 'redlines' %}
<div class="chunk">
  <div class="ds-redlines">
    <div class="redline-container">
      <div class="heading">Redlines</div>
{% endif %}

    {% set image = chunk.redlineImage.one() %}

      <div class="explanation{% if not image %} only{% endif %}">{{ chunk.redlineExplanation }}</div>
      {% if image %}
        <div class="spec-image bg-image-{{ chunk.imageBackground }}">
          <img srcset="{{ image.url }} 2x">
        </div>
      {% endif %}

{% if loop.last or entry.dsComponentContent[loop.index0+1].type != 'redlines' %}
    </div>
  </div>
</div>
{% endif %}
