{% extends "_default" %}
{% set pageTitle = "Layout" %}

{% block sidebar %}
  {% include '_includes/designSys/shared/designsysSidebar' with
  {
    'mainLevel': [{
      'href': 'dsMenuScreen0',
      'label': 'Overview',
      'subLevel': [{
        'href':'dsMenuScreen1',
        'label': 'WhiteSpace'
      }, {
        'href':'dsMenuScreen2',
        'spacing': true,
        'label': 'Grids'
      }, {
        'href':'dsMenuScreen3',
        'spacing': true,
        'label': 'Breakpoints'
      }, {
        'href':'dsMenuScreen4',
        'spacing': true,
        'label': 'Spacing'
      }, {
        'href':'dsMenuScreen5',
        'spacing': true,
        'label': 'Navigation'
      }]
    }, {
      'href': 'dsMenuScreen6',
      'label': 'Structure',
      'subLevel': [{
        'href':'dsMenuScreen7',
        'label': 'Primary page frame'
      }, {
        'href':'dsMenuScreen8',
        'spacing': true,
        'label': 'Secondary page frame'
      }, {
        'href':'dsMenuScreen9',
        'spacing': true,
        'label': 'Modal page frame'
      }]
    }, {
      'href': 'dsMenuScreen10',
      'label': 'Patterns',
      'subLevel': [{
        'href':'dsMenuScreen11',
        'label': 'Single column'
      }, {
        'href':'dsMenuScreen12',
        'spacing': true,
        'label': 'Multiple column'
      }, {
        'href':'dsMenuScreen13',
        'spacing': true,
        'label': 'Modular'
      }]
    }]
  } %}
  {% include '_includes/designSys/shared/designsysFeedback' %}
{% endblock %}

{% block content %}
  {% include '_includes/layout_entry' %}
{% endblock %}
