{% extends "_default" %}
{% set pageTitle = "Visual" %}

{% block sidebar %}
  {% include '_includes/designSys/shared/designsysSidebar' with
  {
    'mainLevel': [{
      'href': 'dsMenuScreen2',
      'label': 'Colors',
      'subLevel': [{
        'href':'dsMenuScreen2',
        'label': 'Best practices'
      }, {
        'href':'dsMenuScreen3',
        'spacing': true,
        'label': 'Global system palette'
      }, {
        'href':'dsMenuScreen4',
        'spacing': true,
        'label': 'Natual palette'
      }, {
        'href':'dsMenuScreen5',
        'spacing': true,
        'label': 'Conditional palette'
      }, {
        'href':'dsMenuScreen6',
        'spacing': true,
        'label': 'Theme palette'
      }]
    }, {
      'href': 'dsMenuScreen7',
      'label': 'Typography',
      'subLevel': [{
        'href':'dsMenuScreen7',
        'label': 'Typeface'
      }, {
        'href':'dsMenuScreen8',
        'spacing': true,
        'label': 'Font styles'
      }]
    }, {
      'href': 'dsMenuScreen9',
      'label': 'Icons',
      'subLevel': [{
        'href':'dsMenuScreen9',
        'label': 'Considerations'
      }, {
        'href':'dsMenuScreen10',
        'spacing': true,
        'label': 'Styles'
      }, {
        'href':'dsMenuScreen11',
        'spacing': true,
        'label': 'Hint text'
      }]
    }, {
      'href': 'dsMenuScreen12',
      'label': 'Illustrations',
      'subLevel': [{
        'href':'dsMenuScreen12',
        'label': 'Style'
      }, {
        'href':'dsMenuScreen13',
        'spacing': true,
        'label': 'Types'
      }, {
        'href':'dsMenuScreen14',
        'spacing': true,
        'label': 'Color'
      }]
    }]
  } %}
  {% include '_includes/designSys/shared/designsysFeedback' %}
{% endblock %}

{% block content %}
  {% include '_includes/visual_entry' %}
{% endblock %}