{% extends "_default" %}
{% set pageTitle = "Visual" %}

{% block sidebar %}
  {% include '_includes/designSys/shared/designsysSidebar' with
  {
    'white': true,
    'mainLevel': [{
      'href': 'dsMenuScreen0',
      'label': 'Colors',
      'subLevel': [{
        'href':'dsMenuScreen1',
        'label': 'Best practices'
      }, {
        'href':'dsMenuScreen2',
        'spacing': true,
        'label': 'Palettes'
      }]
    }, {
      'href': 'dsMenuScreen3',
      'label': 'Typography',
      'subLevel': [{
        'href':'dsMenuScreen4',
        'label': 'Typeface',
      }, {
        'href':'dsMenuScreen5',
        'spacing': true,
        'label': 'Font styles'
      }]
    }, {
      'href': 'dsMenuScreen6',
      'label': 'Icons',
      'subLevel': [{
        'href':'dsMenuScreen7',
        'label': 'Considerations'
      }, {
        'href':'dsMenuScreen8',
        'spacing': true,
        'label': 'Styles'
      }, {
        'href':'dsMenuScreen9',
        'spacing': true,
        'label': 'Hint text'
      }]
    }, {
      'href': 'dsMenuScreen10',
      'label': 'Illustrations',
      'subLevel': [{
        'href':'dsMenuScreen11',
        'label': 'Style'
      }, {
        'href':'dsMenuScreen12',
        'spacing': true,
        'label': 'Types'
      }, {
        'href':'dsMenuScreen13',
        'spacing': true,
        'label': 'Color'
      }]
    }]
  } %}
  {% include '_includes/designSys/shared/designsysFeedback' %}
{% endblock %}

{% block content %}
  {% include '_includes/visual_entry' %}
{% endblock %}