{% extends "_default" %}
{% set pageTitle = "Components" %}

{% block sidebar %}
  {% include '_includes/designSys/shared/designsysSidebar' with
  {
    'mainLevel': [{
      'href': 'dsScreen2',
      'label': 'Buttons',
      'subLevel': [{
        'href':'dsScreen3',
        'label': 'Best practices'
      }, {
        'href':'dsScreen4',
        'spacing': true,
        'label': 'Types'
      }, {
        'href':'dsScreen5',
        'spacing': true,
        'label': 'Sizes'
      }, {
        'href':'dsScreen6',
        'spacing': true,
        'label': 'Color'
      }, {
        'href':'dsScreen7',
        'spacing': true,
        'label': 'Placement'
      }, {
        'href':'dsScreen8',
        'spacing': true,
        'label': 'Labels'
      }]
    }, {
      'href': 'dsScreen9',
      'label': 'Component2'
    }, {
      'href': 'dsScreen10',
      'label': 'Component3'
    }]
  } %}
{% endblock %}

{% block content %}
  {% include '_includes/components_entry' %}
{% endblock %}