{% extends "_default" %}
{% set pageTitle = "Visual" %}

{% block sidebar %}
  {% include '_includes/designSys/shared/designsysSidebar' with
  {
    'white': true,
    'mainLevel': [{
      'href': 'dsMenuScreen0',
      'label': 'Color palettes',
      'subLevel': [{
        'href':'dsMenuScreen1',
        'label': 'Global system palette'
      }, {
        'href':'dsMenuScreen2',
        'spacing': true,
        'label': 'Neutral palette'
      }, {
        'href':'dsMenuScreen3',
        'spacing': true,
        'label': 'Conditional palette'
      }, {
        'href':'dsMenuScreen4',
        'spacing': true,
        'label': 'Theme palette'
      }]
    }, {
      'href': 'dsMenuScreen5',
      'label': 'Typography',
      'subLevel': [{
        'href':'dsMenuScreen6',
        'label': 'Web fonts',
      }, {
        'href':'dsMenuScreen7',
        'spacing': true,
        'label': 'Mobile fonts',
      }, {
        'href':'dsMenuScreen8',
        'spacing': true,
        'label': 'Font styles and weights'
      }]
    }, {
      'href': 'dsMenuScreen9',
      'label': 'Icons',
      'subLevel': [{
        'href':'dsMenuScreen10',
        'label': 'Icon Considerations'
      }, {
        'href':'dsMenuScreen11',
        'spacing': true,
        'label': 'Icon styles'
      }, {
        'href':'dsMenuScreen12',
        'spacing': true,
        'label': 'Tooltips for icons'
      }]
    }, {
      'href': 'dsMenuScreen13',
      'label': 'Illustrations',
      'subLevel': [{
        'href':'dsMenuScreen14',
        'label': 'Illustration style'
      }, {
        'href':'dsMenuScreen15',
        'spacing': true,
        'label': 'Illustration types'
      }, {
        'href':'dsMenuScreen16',
        'spacing': true,
        'label': 'Color in Illustrations'
      }]
    }]
  } %}
  {% include '_includes/designSys/shared/designsysFeedback' %}
{% endblock %}

{% block content %}
  {% include '_includes/visual_entry' %}
{% endblock %}