{% extends "_default" %}
{% set pageTitle = "Writing" %}

{% block sidebar %}
  {% include '_includes/designSys/shared/designsysSidebar' with
  {
    'mainLevel': [{
      'href': 'dsMenuScreen2',
      'label': 'UX writing best practices'
    }, {
      'href': 'dsMenuScreen3',
      'label': 'Voice and tone',
      'subLevel': [{
        'href':'dsMenuScreen3',
        'label': 'The difference'
      }, {
        'href':'dsMenuScreen4',
        'spacing': true,
        'label': 'Voice'
      }, {
        'href':'dsMenuScreen5',
        'spacing': true,
        'label': 'Tone'
      }]
    }, {
      'href': 'dsMenuScreen6',
      'label': 'Grammar and mechanics',
      'subLevel': [{
        'href':'dsMenuScreen6',
        'label': 'Capitalization'
      }, {
        'href':'dsMenuScreen7',
        'spacing': true,
        'label': 'Contractions'
      }, {
        'href':'dsMenuScreen8',
        'spacing': true,
        'label': 'Dates and times'
      }, {
        'href':'dsMenuScreen9',
        'spacing': true,
        'label': 'Headings'
      }, {
        'href':'dsMenuScreen10',
        'spacing': true,
        'label': 'Labels'
      }]
    }, {
      'href': 'dsMenuScreen12',
      'label': 'Terms and words',
      'subLevel': [{
        'href':'dsMenuScreen12',
        'label': 'Style'
      }, {
        'href':'dsMenuScreen13',
        'spacing': true,
        'label': 'Types'
      }, {
        'href':'dsMenuScreen14',
        'spacing': true,
        'label': 'Color'
      }]
    }, {
        'href': 'dsMenuScreen12',
        'label': 'Error messages',
        'subLevel': [{
          'href':'dsMenuScreen12',
          'label': 'Style'
        }, {
          'href':'dsMenuScreen13',
          'spacing': true,
          'label': 'Types'
        }, {
          'href':'dsMenuScreen14',
          'spacing': true,
          'label': 'Color'
        }]
      }]
  } %}
  {% include '_includes/designSys/shared/designsysFeedback' %}
{% endblock %}

{% block content %}
  {% include '_includes/writing_entry' %}
{% endblock %}