.ds-visual-page {
    .ds-screen1 {
        background: url('/public/theme_assets/visualbg.png') bottom center fixed;
        background-size: cover;
        z-index: 1;
        padding-top: 53px;
        height: 100vh;
        box-sizing: border-box;
        .position-fixed {
            top: 15vh;
            z-index: 2;
        }
    }
    
    .ds-color-card {
        border-radius: 4px;
    }
    
    .ds-color-rect {
        width: 100px;
        height: 100px;
        border-radius: 4px 0 0 4px;
    }
    
    .ds-colors-rects {
        width: 102px;
        div:first-child {
            border-radius: 4px 0 0 0; 
        }
        div:last-child {
            border-radius: 0 0 0 4px; 
        }
    }
    
    .ds-colors-rects, .ds-hex-labels {
        div:first-child, div:last-child {
            height: 48px;
            line-height: 48px;
        }
        div:nth-child(2) {
            height: 80px;
            line-height: 80px;
        }
    }
    
    $singlecolors: (
        pearson-blue: #047A9C,
        white: #FFFFFF,
        sunshine-yellow: #FFB81C,
        charcoal: #252525,
        medium-gray: #6A7070,
        steel: #A9A9A9,
        concrete: #C7C7C7,
        alto: #D9D9D9,
        moonlight: #E9E9E9,
        stainless: #EEEEEE,
        white-gray: #F5F5F5,
        alert-red: #DB0020,
        confirm-green: #038238,
        notification-pink: #DA0474
    );
    @each $colorName, $color in $singlecolors {
        .bg-#{$colorName} {
            background-color: $color;
        } 
    }
    $multicolors: (
        aqua: (#CAEFEE, #76D5D4, #19A5A3),
        violet:  (#F2E5F1, #895B9A, #633673),
        chartreuse:  (#F6F8CC, #D2DB0E, #B0B718),
        indigo:  (#D9E6F1, #356286, #1E496C),
        lime:  (#DFF5D5, #66BE3E, #288500),
        sky:  (#D6ECF4, #80C5DD, #46A9CB),
        canary:  (#FAEBC3, #F5C54C, #DEA30D)
    );
    @each $colorName, $color in $multicolors {
        .bg-#{$colorName} {
            div:first-child {
                background-color: nth($color, 1);
            }
            div:nth-child(2) {
                background-color: nth($color, 2);
            }
            div:last-child {
                background-color: nth($color, 3);
            }
        } 
    }
    .ds-color-card {
        .bg-white {
            @extend .border-right;
        }
    }
    
    .ds-screen7 {
        .xl-title {
            font-size: 64px;
            line-height: 86px;
        }
        .l-title {
            font-size: 40px;
            line-height: 48px;
        }
        .ds-type-bg {
            background: url('/public/theme_assets/typebg.svg') center center fixed;
            background-size: cover;
            min-height: 644px;
            .position-absolute {
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;
                p:nth-child(4) {
                    opacity: 0.1;
                }
                @for $i from 1 through 3 {
                    p:nth-child(#{$i}), p:nth-child(#{8-$i}) {
                        opacity: 0.02 * $i;
                    }
                }
                p {
                    height: 86px;
                    overflow-y: hidden;
                    word-wrap: break-word;
                }
            } 
            .ds-container {
                z-index: 2;
            }
        
            .ds-main {
                margin-top: 100px;
            }
        }
    }

    .ds-fontweight-demo {
        div {
            border: 1px solid white;
            border-radius: 4px;
        }
        div:first-child {
            p:first-child {
                font-size: 6rem;
                line-height: 7rem;
            }
        }
        div:last-child {
            p:first-child {
                font-size: 6rem;
                line-height: 7rem;
            }
        }
    }
}