.ds-components-page {
    .ds-screen1 {
        background: url('/public/theme_assets/ds-components-bg.svg') bottom center fixed;
        background-size: cover;
        z-index: 1;
        padding-top: 53px;
        height: 100vh;
        box-sizing: border-box;
        .position-fixed {
            top: 15vh;
            z-index: 2;
        }
    }
}