.ds-ultimate-header {
    li.selected {
        border-bottom: 2px solid $pe-color-charcoal;
        font-weight: 600;
    }
    top: 0;
    z-index: 20;
    span, a, button {
        color: $pe-color-charcoal;
    }
    background-color: $pe-color-white;
}