.ds-page {
    .ds-transition-content {
        opacity: 0.3;
    }

    .ds-cover {
        background-position: center bottom;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        height: 100vh;
        box-sizing: border-box;

        .position-fixed {
            top: 30vh;
            z-index: 2;
        }
    }

    .bg-pattern-grid {
        background-color:#fff;
        background-image: linear-gradient($pe-color-alto 1px, transparent 1px),
        linear-gradient(90deg, $pe-color-alto 1px, transparent 1px);
        background-size:10px 10px, 10px 10px;
        background-position:-2px -2px, -2px -2px;
    }
    
    .ds-shadow {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }

    h2 a:last-child {
        top: -200px;
    }

    h2 .ds-menu-anchor {
        top: -205px;
    }

    h3 a:last-child {
        top: -200px;
    }

    h3 .ds-menu-anchor {
        top: -205px;
    }

    .ds-hidden-anchor {
        display: block;
        height: 0;
        overflow: hidden;
    }

    .ds-group-title {
        font-size: 4rem;
    }

    .ds-section-title {
        font-size: 2.29rem;
        line-height: 2.71rem;
        margin-top: 104px;
    }

    .accordion-button {
        background-color: transparent;
        border: 0;
    }

    .font-pd {
        font-family: 'Playfair Display', serif;
    }

    .ds-short-cover {
        max-width: 550px;
    }
}
