.ds-sidebar {
  top:120px;
  z-index: 10;

  @media (min-width: 1px) {
    left: 10px; } 
  @media (min-width: 480px) {
    left: 20px; } 
  @media (min-width: 1024px) {
    left: 40px;
  }
  @media (min-width: 1220px) {
    left: calc(50% - 570px);
  }

  a {
    color: $pe-color-charcoal;
    transition: all 0.5s;
  }
  .main-level {
    &>li.active {
      .sub-level {
        margin-top: 16px;
        max-height: 10em;
      }
      &>a {
        font-weight: 600;
        &::before {
            content: '';
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: $pe-color-charcoal;
            margin-left: -1rem;
            margin-right: 0.5rem;
            margin-bottom: 0.2rem;
            display: inline-block;
        }
      }
    }
  }

  .sub-level{
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
    border-left: 1px solid $pe-color-alto;
    padding-left: 12px;
    a {
      color: $pe-color-medium-gray;
    }
    li.active {
      &>a {
        font-weight: 600;
        color: $pe-color-charcoal;
      }
    }
  }
}

.ds-sidebar.text-white {
  a, .sub-level a, .sub-level li.active a {
    color: $pe-color-white;
  }

  .sub-level, .main-level{
    border-left-color: rgba(255, 255, 255, 0.7);
    a {
      opacity: 0.7;
    }
    li.active {
      &>a {
        opacity: 1;
        &::before {
          background-color: $pe-color-white;
        }
      }
  }
}
}

.ds-feedback {
  bottom:10rem;
  z-index: 10;

  @media (min-width: 1px) {
    right: 10px; } 
  @media (min-width: 480px) {
    right: 20px; } 
  @media (min-width: 1024px) {
    right: 40px;
  }
  @media (min-width: 1220px) {
    right: calc(50% - 570px);
  }
}
