.ds-dont {
  @extend .ds-grid, .ds-container;
  margin: 0 auto;

  .grid {
    @include component-main;
    background-image: url("/public/theme_assets/f6_grid.png");
    background-size: 84px 84px;
    margin: 24px 0;
  }

  .card {
    margin: 32px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    @include clearfix;
  }

  .heading {
    padding: 24px 32px;
    border-bottom: 1px solid $pe-color-moonlight;
    @extend .pe-label;

    img {
      vertical-align: middle;
      margin-right: 8px;
    }
  }

  .content {
    padding: 16px 32px 40px;
    color: $pe-color-medium-gray;

    ul, ol {
      line-height: 20px;
      padding: 0;
      margin: 0;
      padding-left: 20px;
    }
  }
}
