.ds-images {
  @extend .ds-container, .ds-grid;
  margin-top: 32px;
  margin-bottom: 32px;

  .image-grid {
    @include component-main;

    .title {
      @extend .pe-label;
    }

    .caption, .caption p {
      @extend .pe-label;
      color: $pe-color-medium-gray;
    }

    p {
      margin: 0;
      padding: 0;
    }

    p + p {
      margin-top: 12px;
    }

    img.border {
      border: 1px solid $pe-color-concrete;
      border-radius: 2px;
    }
  }

  &.images-right {
    .image {
      display: flex;
      align-items: center;

      & + .image {
        margin-top: 24px;
      }

      img {
        margin-right: 12px;
      }
    }
  }

  &.images-centered {
    .image-grid {
      margin: 0 -12px;
    }

    .image {
      display: table;
      float: left;
      margin: 0 12px;
    }

    .title, .caption {
      display: table-caption;
      text-align: center;
    }

    .title {
      margin-bottom: 12px;
    }

    .caption {
      margin-top: 8px;
      caption-side: bottom;
    }
  }

  &.images-leftAligned {
    .image-grid {
      margin: 0 -12px;
    }

    .image {
      display: table;
      float: left;
      margin: 0 12px;
    }

    .title, .caption {
      display: table-caption;
    }

    .title {
      margin-bottom: 12px;
    }

    .caption {
      margin-top: 8px;
      caption-side: bottom;
    }
  }
}
