.ds-redlines {
  @extend .ds-grid, .ds-container;
  margin: 42px auto;

  .redline-container {
    border: 1px solid $pe-color-alto;
    border-radius: 4px;
    @include component-main;
    padding: 24px 32px;

    .heading {
      padding-bottom: 24px;
      margin-bottom: 32px;
      border-bottom: 1px solid $pe-color-alto;

      @extend .pe-title, .pe-title--small, .pe-bold;
    }
  }

  .explanation {
    width: 40%;
    float: left;
    clear: both;
    padding-right: 24px;

    h3 {
      @extend .pe-label, .pe-bold;
      margin-bottom: 20px;
    }

    ol {
      list-style: none;
      counter-reset: redline-counter;
      margin: 0;
      padding: 0;

      li {
        counter-increment: redline-counter;

        &:before {
          content: counter(redline-counter)".";
          @extend .pe-label, .pe-bold;
          display: inline-block;
          text-align: left;
          line-height: 20px;
          width: 20px;
          height: 20px;
        }

        & + li {
          margin-top: 8px;
        }
      }
    }
  }

  .spec-image {
    width: 60%;
    position: relative;
    float: left;

    background-image: url("/public/theme_assets/f6_grid.png");
    background-size: 84px 84px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;

    span {
      display: inline-block;
      position: absolute;
    }
  }

  .spec-image + .explanation,
  .spec-image + .explanation + .spec-image {
    margin-top: 40px;
  }
}
