.ds-text {
  @extend .ds-grid, .ds-container;
  margin: 0 auto;

  > * {
    @include component-main;
  }

  font-size: 18px;
  line-height: 24px;

  p, h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h3 {
    @extend .pe-bold;
  }
}
