<section class="bg-white w-100">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid">
        <div class="ds-main ds-transition-content dmb-10 position-relative"  id='dsTransitScreen3'>
            {% include '_includes/designSys/shared/levelThree' with 
                {
                    'name': 'dsMenuScreen4',
                    'title': 'Spacing', 
                    'desc': 'Use spacing to indicate relationships between UI elements clear. The closer together the UI elements are, the stronger their relationship.'
                } %}
            <div class='ds-transition-content position-relative' id='dsTransitSection0'>    
                {% include '_includes/designSys/atoms/hiddenAnchor' with 
                    { 'class': 'ds-transition-section' } 
                %}
                {% include '_includes/designSys/shared/levelFour' with 
                    {
                        'topSpacing': true,
                        'name': 'Default increments', 
                        'desc': 'Use <strong>8 pixel</strong> increments to create larger spatial differences when positioning components on a page.'
                } %}
            </div>
            <div class="ds-transition-content" id='dsTransitSection1'>
                {% include '_includes/designSys/atoms/hiddenAnchor' with 
                    { 'class': 'ds-transition-section' } 
                %}
                <div class="ds-spacing-demo8 d-flex justify-content-between align-items-end dpy-6 border-bottom">
                    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div>
            </div>
            <div class="ds-transition-content" id='dsTransitSection2'>
                {% include '_includes/designSys/atoms/hiddenAnchor' with 
                    { 'class': 'ds-transition-section ds-animation-trigger' } 
                %}
                <div class='dpt-6'>
                    <div class="bg-pattern-grid dpy-4 dpx-2 dmb-7">
                        <div id="spacingRedlines"></div>
                    </div>
                </div>
            </div>
            <div class='ds-transition-content' id='dsTransitSection3'>
                {% include '_includes/designSys/atoms/hiddenAnchor' with 
                    { 'class': 'ds-transition-section' } 
                %}
            {% include '_includes/designSys/shared/levelFour' with 
                {
                    'topSpacing': true,
                    'name': 'Small space increments', 
                    'desc': 'Use <strong>4 pixel</strong> increments for smaller, more refined spacing situations, specifically within the context of a component'
            } %}
            </div>
            <div class="ds-transition-content" id='dsTransitSection4'>
                {% include '_includes/designSys/atoms/hiddenAnchor' with 
                    { 'class': 'ds-transition-section' } 
                %}
                <div class="d-flex justify-content-center align-items-end ds-spacing-demo4 dpy-6 border-bottom">
                    <div class='dmr-4'></div>
                    <div class='dmr-4'></div>
                    <div class='dmr-4'></div>
                    <div class='dmr-4'></div>
                    <div></div>
                </div>
            </div>
            <div class="ds-transition-content" id='dsTransitSection5'>
                {% include '_includes/designSys/atoms/hiddenAnchor' with 
                    { 'class': 'ds-transition-section ds-animation-trigger' } 
                %}
                <div class='dpt-6'>
                    <div class="bg-pattern-grid dpy-4 dpx-2">
                        <div id="spaceIncrement"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>