<section class="bg-white w-100">
    {% include '_includes/designSys/atoms/hiddenAnchor' with 
        { 'class': 'ds-transition-screen' } 
    %}
    <div class="ds-container ds-grid dpb-10">
        <div class="ds-main ds-transition-content" id='dsTransitScreen4'>
            {% include '_includes/designSys/shared/levelThree' with 
                {'name': 'dsMenuScreen5',
                'title': 'Navigation', 
                'desc': 'A simple navigation structure reduces cognitive load and allows users to focus on completing tasks instead of navigating. When considering navigation, think about how to move users through a sequence of tasks with the goal of one task per screen.'
            } %}
            <div class="ds-transition-content" id='dsTransitSection6'>
                {% include '_includes/designSys/atoms/hiddenAnchor' with 
                    { 'class': 'ds-transition-section' } 
                %}
                <div class='dpt-6'>
                    <img class="dmr-1 align-middle" src="/public/theme_assets/do.svg"/><span class='ds-dd-label'>Do</span>
                    <p class="pe-label dmb-0 dpt-2 dmt-2 border-top">Keeping the primary navigation simple, use the main content area to help users focus on their essential task. </p>
                </div>
            </div>
            <div class="d-flex justify-content-between dmt-6">
                <figure class='ds-transition-content' id='dsTransitSection7'>
                    {% include '_includes/designSys/atoms/hiddenAnchor' with 
                        { 'class': 'ds-transition-section' } 
                    %}
                    <figcaption class="pe-label--secondary pe-label text-center dmb-2">Parent</figcaption>
                    <img class='img-fluid' src="/public/theme_assets/navigationparent00.svg"/>
                </figure>
                <img src="/public/theme_assets/rightarrow.svg"/>
                <figure class='ds-transition-content' id='dsTransitSection8'>
                    {% include '_includes/designSys/atoms/hiddenAnchor' with 
                        { 'class': 'ds-transition-section' } 
                    %}
                    <figcaption class="pe-label--secondary pe-label text-center dmb-2">Child</figcaption>
                    <img class='img-fluid' src="/public/theme_assets/navigationchild00.svg"/> 
                </figure>
            </div>
            <div class="d-flex justify-content-between dmt-5"> 
                <figure class='ds-transition-content' id='dsTransitSection9'>
                    {% include '_includes/designSys/atoms/hiddenAnchor' with 
                        { 'class': 'ds-transition-section' } 
                    %}
                    <figcaption class="pe-label--secondary pe-label text-center dmb-2">Parent</figcaption>
                    <img class='img-fluid' src="/public/theme_assets/navigationparent01.svg"/>
                </figure>
                <img src="/public/theme_assets/rightarrow.svg"/>
                <figure class='ds-transition-content' id='dsTransitSection10'>
                    {% include '_includes/designSys/atoms/hiddenAnchor' with 
                        { 'class': 'ds-transition-section' } 
                    %}
                    <figcaption class="pe-label--secondary pe-label text-center dmb-2">Child</figcaption>
                    <img class='img-fluid' src="/public/theme_assets/navigationchild01.svg"/>
                </figure>
            </div>
            <div class="dmy-6">
                <p id='mobileopti' class="pe-label--secondary pe-label text-center dmb-2">Mobile optimization</p>
                <div class='d-flex justify-content-between'>
                    <div class="ds-transition-content" id='dsTransitSection11'>
                        {% include '_includes/designSys/atoms/hiddenAnchor' with 
                            { 'class': 'ds-transition-section' } 
                        %}
                        <img aria-labelledby='mobileopti' class='img-fluid' src="/public/theme_assets/navigationsmall00.svg"/>
                    </div>
                    <div class="ds-transition-content" id='dsTransitSection12'>
                        {% include '_includes/designSys/atoms/hiddenAnchor' with 
                            { 'class': 'ds-transition-section' } 
                        %}
                        <img aria-labelledby='mobileopti' class='img-fluid' src="/public/theme_assets/navigationsmall01.svg"/>
                    </div>
                    <div class="ds-transition-content" id='dsTransitSection13'>
                        {% include '_includes/designSys/atoms/hiddenAnchor' with 
                            { 'class': 'ds-transition-section' } 
                        %}
                        <img aria-labelledby='mobileopti' class='img-fluid' src="/public/theme_assets/navigationsmall02.svg"/>
                    </div>
                    <div class="ds-transition-content" id='dsTransitSection14'>
                        {% include '_includes/designSys/atoms/hiddenAnchor' with 
                            { 'class': 'ds-transition-section' } 
                        %}
                        <img aria-labelledby='mobileopti' class='img-fluid' src="/public/theme_assets/navigationsmall03.svg"/>
                    </div>
                </div>
            </div>
            <div class="dmb-6 ds-transition-content" id='dsTransitSection15'>
                {% include '_includes/designSys/atoms/hiddenAnchor' with 
                    { 'class': 'ds-transition-section' } 
                %}
                <img class="dmr-1 align-middle" src="/public/theme_assets/dont.svg"/><span class='ds-dd-label'>Don't</span>
                <p class="pe-label dmb-0 dpt-2 dmt-2 border-top">Avoid creating multiple layers of navigation. Too many layers can make the experience crowded and confusing, especially on mobile devices.</p>
            </div>
            <div class="d-flex justify-content-center">
                <div class="ds-transition-content" id='dsTransitSection16'>
                    {% include '_includes/designSys/atoms/hiddenAnchor' with 
                        { 'class': 'ds-transition-section' } 
                    %}
                    <img class='part1 img-fluid smr-7' src="/public/theme_assets/navigationbaddesktop.svg"/>
                </div>
                <div class="ds-transition-content" id='dsTransitSection17'>
                    {% include '_includes/designSys/atoms/hiddenAnchor' with 
                        { 'class': 'ds-transition-section' } 
                    %}
                    <img class='part2 img-fluid sml-7' src="/public/theme_assets/navigationbadmobile.svg"/>
                </div>
            </div>
        </div>
    </div>
</section>